[2018-05-02 09:00] dstenger opened #1 "Define test approach for a resource oriented architecture and identify testing tools and techniques"

[2018-05-07 08:22] dstenger opened #2 "Create skeleton of TestNG based test suite"

[2018-05-07 10:00] dstenger commented on #2
= Further adjustments

Add gitignore: https://github.com/opengeospatial/ets-wfs30/commit/6a06f66d91fe41ec9e27645d41a611365e55a752
Update spec-version and ets-common version: https://github.com/opengeospatial/ets-wfs30/commit/8380e3a1e639dc58897f16400918ee5a42283666
Remove method assertSchematronValid: https://github.com/opengeospatial/ets-wfs30/commit/5b0fdae658ec1d6da6899b16af5394b692ea1d24

[2018-05-14 10:47] lgoltz commented on #2
Skeleton of the test suite was created. `mvn clean install` was successful.

[2018-05-14 10:48] #2 closed

[2018-05-14 13:28] dstenger commented on #1
As test suite will be written in TestNG, any Java HTTP client (for request) and any parser (for response) can be used for testing.

Following libraries/frameworks can be used to make the creation of tests easier and readability better:

* Jersey
* Spring RestTemplate
* [REST-assured](https://github.com/rest-assured/rest-assured)
* ...

[2018-05-14 14:28] cmheazel commented on #1
I have been working with KaiZen as an OpenAPI parser.  I have used it to hacked together a driver which will crawl through an OpenAPI document reporting the contents and generating absolute paths.

[2018-05-22 13:45] dstenger commented on #1
@cmheazel Can you provide any code and/or more detailed informations (e.g. web site) about this parser?

[2018-05-24 15:31] lgoltz opened #3 "Implement A.4.1. General Tests"
Includes
* [ ] A.4.1.1. HTTP 1.1
* [ ] A.4.1.2. Coordinate Reference Systems

[2018-05-24 15:31] lgoltz opened #4 "Implement A.4.2. Retrieve the API Description"
Includes
* [x] A.4.2.1. Landing Page Retrieval
* [x] A.4.2.2. Landing Page Validation
* [x] A.4.2.3. OpenAPI Document Retrieval
* [x] A.4.2.4. API Definition Validation

[2018-05-24 15:32] lgoltz opened #5 "Implement A.4.3. Identify the Test Points"
Includes
* [x] A.4.3.1. Identify Test Points
* [x] A.4.3.2. Identify Server URIs
* [x] A.4.3.3. Process Server Object

[2018-05-24 15:36] lgoltz opened #6 "Implement A.4.4. Processing the OpenAPI Document - Part 1"
Includes
* [ ] A.4.4.1. Validate /api path
* [x] A.4.4.2. Validate Conformance Operation
* [x] A.4.4.3. Validate Conformance Operation Response

[2018-05-24 15:36] lgoltz opened #7 "Implement A.4.4. Processing the OpenAPI Document - Part 2"
* [x] A.4.4.4. Validate the Feature Collections Metadata Operation
* [x] A.4.4.5. Validate the Feature Collections Metadata Operation Response
* [x] A.4.4.6. Validate a Collections Metadata document
* [x] A.4.4.7. Validate the Feature Collection Metadata Operation
* [x] A.4.4.8. Validate the Feature Collection Metadata Operation Response

[2018-05-24 15:36] lgoltz opened #8 "Implement A.4.4. Processing the OpenAPI Document - Part 3"
* [x] A.4.4.9. Validate the Get Features Operation
* [x] A.4.4.10. Validate the Get Features Operation Response
* [x] A.4.4.11. Limit Parameter
* [x] A.4.4.12. Bounding Box Parameter
* [x] A.4.4.13. Time Parameter

[2018-05-24 16:03] cmheazel commented on #1
@dstenger KaiZen is at https://github.com/RepreZen/KaiZen-OpenAPI-Parser.  It parses and OpenAPI doc (both JSON and YAML) and generates a corresponding set of Java objects.  You can then start with the "model" object and traverse the OpenAPI content.  I'll post the crawler on my GitHub page once I get a chance to clean it up a bit.

[2018-05-29 10:54] dstenger opened #9 "Create documentation of test suite"
This includes:
* [x] **site documentation** (all documentation displayed via ```[TEAMENGINE_ENDPOINT]/about/[TEST_SUITE_ID]/[SPEC_VERSION]/site/``` is up to date)
* [x] **REST API documentation** (all documentation displayed via REST API (e.g. ```[TEAMENGINE_ENDPOINT]/rest/suites/```) is up to date)
* [x] **Web Browser Interface documentation** (all displayed content in Web Browser Interface is up

[2018-06-05 07:40] lgoltz opened #10 "Prepare ETS"

[2018-06-07 08:29] lgoltz commented on #1
First trials with
 * rest-asured: https://github.com/opengeospatial/ets-wfs30/tree/rest-assured-1
  * Using the rest-assured API leads to the problem that the log request/response (in case of a failure) must be logged via a Filter (in CommonFixture). A PrintStream is used currently, the output can be verified in the test landingPageRetrievalFail.
 * KaiZen: https://github.com/opengeospatial/ets-wf

[2018-06-11 08:14] dstenger commented on #10
Commits:
* https://github.com/opengeospatial/ets-wfs30/commit/211bbc375b03ab138eef578a4dd4d97309f89c81
* https://github.com/opengeospatial/ets-wfs30/commit/e7804ce588c642ca3ae1d716286e6d21e47bea5c
* https://github.com/opengeospatial/ets-wfs30/commit/4481b82624050f82b8a6aea5a97d7145ca83e463

[2018-06-11 08:17] #10 closed

[2018-06-11 14:04] dstenger commented on #1
**rest-assured**

Readability of tests is good.
I don't see a problem using the filter mechanism of rest-assured instead of instance of ```ITestResult```.

**KaiZen**

Parser makes parsing of OpenAPI 3.0 documents easier.
I do not see any drawbacks.

[2018-06-18 12:56] dstenger commented on #1
Decision:
**rest-assured** and **KaiZen-OpenAPI-Parser** are used to develop tests.

[2018-06-18 13:03] #1 closed

[2018-06-18 14:02] lgoltz commented on #4
Tests was implemented (Further steps of test A.4.2.4. API Definition Validation will be implemented in #5).
PR: #11

[2018-06-19 13:57] lgoltz commented on #5
As A.4.3 is described as precondition for conformance and not a test  the identification of Test Points was implemented in a utility class (OpenApiUtils). The implementation follows the section A.4.3 in most points. Currently it is not considered, that the serviceUrls may have variables. Furthermore URIs with default values are not flagged as non-exhaustive (see A.4.3.3. Process Server Object c) 3

[2018-06-20 07:02] lgoltz commented on #6
A.4.4.2. Validate Conformance Operation and A.4.4.3. Validate Conformance Operation Response was implemented in https://github.com/opengeospatial/ets-wfs30/commit/909d64b96caf6eed6d1989787379003b1bd40539

In A.4.4.1. Validate /api path [1] a test method is not described.

[1] https://rawgit.com/opengeospatial/WFS_FES/master/docs/17-069.html#_validate_api_path

[2018-06-20 07:27] lgoltz commented on #5
PR: #12 (includes PR #11)

[2018-06-20 07:29] lgoltz commented on #3
A.4.1.1. HTTP 1.1 was implemented in https://github.com/opengeospatial/ets-wfs30/commit/0206d5f48785164d32c2ca710a6e835c4fe66a2e

 A.4.1.2. Coordinate Reference Systems will be included in #7 and/or #8.

[2018-06-21 14:07] #4 closed

[2018-06-21 15:13] dstenger commented on #4
Few improvements to be more close to ATS: https://github.com/opengeospatial/ets-wfs30/commit/cd496f6537421bd769350cb45dfd67b966cf3043

[2018-06-22 08:29] dstenger commented on #4
Add dependency to test ```apiDefinitionValidation```: https://github.com/opengeospatial/ets-wfs30/commit/03fe489af564af812ca01b377c8ce145dd1fd59a

[2018-06-22 09:09] dstenger commented on #4
For integration tests Maven plugin ```maven-failsafe-plugin``` was configured in profile ```web-dependencies```.

Commit: https://github.com/opengeospatial/ets-wfs30/commit/ecd7c74ac0d59cb1bcff78089421b9e74a996e55

Integration tests can be run with: ```mvn clean verify -Pweb-dependencies```

[2018-06-22 09:30] dstenger commented on #4
Updated tests regarding Accept HTTP header: https://github.com/opengeospatial/ets-wfs30/commit/8d6686a9d7de28d63a779a8f1e78119ee0e3769c

[2018-06-22 09:41] dstenger opened #13 "Introduce Dockerfile and Maven Docker plugin"

[2018-06-22 13:00] dstenger commented on #13
Commit (master Branch): https://github.com/opengeospatial/ets-wfs30/commit/dcd4dbdb2dc5fed957404c24a9d8914bc6009f51

[2018-06-22 13:01] dstenger commented on #13
**Useful commands:**

Build Docker Image:
* mvn clean install -Pdocker
* -> Docker Image with Name ```opengeospatial/ets-wfs30``` is created.

Build Docker Image and create and start Docker container:
* mvn clean install docker:run -Pdocker
* -> Test suite can be accessed via http://localhost:8081/teamengine

[2018-06-25 10:16] #5 closed

[2018-06-25 11:10] #6 closed

[2018-06-25 12:50] lgoltz commented on #13
Added configuration of the te_base directory as volume (default of the  property `docker.tebase.dir`  is the target directory):

Build Docker Image and create and start Docker container with volume `~/teamengine/users`:
[code]

[2018-06-25 12:59] dstenger commented on #13
Wiki page was created: https://github.com/opengeospatial/cite/wiki/How-to-add-creation-of-Docker-Image-to-test-suites

[2018-06-25 13:05] #13 closed

[2018-06-26 13:28] lgoltz commented on #7
All tests was basically implemented.
For test `A.4.4.6. Validate a Collections Metadata document` the test step 4 'Validate the extent property if it is provided' is not implemented yet.

The test A.4.4.6. seems to be a copy from A.4.4.5., test step 2. does not describe Requirement 13.

Some refactorings should be done (later as the tests may effect the remaining tests #8).

[2018-06-26 17:47] #7 closed

[2018-06-27 12:16] lgoltz opened #17 "Implement A.4.4. Processing the OpenAPI Document - Part 4"
* [x] A.4.4.14. Get Feature Operation
* [x] A.4.4.15. Validate the Get Feature Operation Response

[2018-06-28 16:13] lgoltz commented on #8
Some remaining TODOs are documented in the code (missing test parameters, returned features are not validated).
Currently a "java.lang.OutOfMemoryError: Java heap space" occurs locally.

I think "A.4.4.10. Validate the Get Features Operation Response" contains a failure in test method 6:

[code]
Shouldn't numberReturned be numberMatched in the last sentence?

[2018-07-02 05:31] lgoltz commented on #8
Set limit parameter to 5 and 15 to avoid long running queries and large response and added assert: https://github.com/opengeospatial/ets-wfs30/commit/17dbccd9c0568179d2011586a88e6f8409d9ee2b

[2018-07-02 19:44] lgoltz opened #18 "Assert that features in response are in requested BoundingBox"
Test: org.opengis.cite.wfs30.collections.GetFeaturesOperation#validateBboxParameter_requests()

Abstract Test 22, Method 3

[2018-07-02 19:45] lgoltz opened #19 "Assert that features in response are in requested Time"
Test: org.opengis.cite.wfs30.collections.GetFeaturesOperation#validateTimeParameter_requests()

[2018-07-02 19:45] lgoltz commented on #8
Remaining TODOs are documented in #18 and #19 .

[2018-07-03 06:40] lgoltz opened #20 "Follow redirects"
Currently the tests org.opengis.cite.wfs30.collections.GetFeaturesOperation#validateBboxParameter_requests() fails with https://www.ldproxy.nrw.de/rest/services/kataster/ as the links in the collections metadata document [1] uses 'http'. The link http://www.ldproxy.nrw.de/rest/services/kataster/collections/flurstueck/items?f=json returnes a 301.

The test fails cause the response is empty and cann

[2018-07-03 11:46] lgoltz commented on #17
A.4.4.15. Validate the Get Feature Operation Response: Missing hint to assertion "All links SHALL include the rel and type link parameters." (Requirement 32).

[2018-07-03 12:51] lgoltz opened #21 "Implement validation against yaml"
The validation against yaml files is not implemented yet.

[2018-07-03 12:55] lgoltz opened #24 "Clean up retrieval of urls/test points"
Should the URLs be retrieved from the OpenAPI document or e.g. the collections document (e.g. for a Get Features request)?

The paths in OpenAPI document should be unique, requesting TestPoinst in OpenApiUtils should be simplified.

[2018-07-11 11:31] lgoltz opened #25 "Add assert in BBox test for number of features"
If the requested bbox does not intersect the extend of the collection the number of features is expected to be 0. Otherwise the number of fetaures must be >= 0.

[2018-07-11 11:33] dstenger commented on #8
#20 covers an Issue with handling of HTTP redirects and #25 proposes to check number of features in bbox tests.

[2018-07-11 11:34] #8 closed

[2018-07-11 15:42] dstenger opened #26 "Create release 0.1"

[2018-07-11 15:48] #17 closed

[2018-07-12 10:11] dstenger commented on #26
#### Prepare release (for each test suite individually)

- [ ]  The master branch should contain the latest "stable" version. Make sure all verified pull requests are merged.
- [ ]  Make sure it builds properly running `mvn clean install site`.
- [ ] Test locally the master branch with the [reference implementation](https://github.com/opengeospatial/cite/wiki/Reference-Implementations), if there i

[2018-07-12 10:12] dstenger commented on #26
#### Create release (for each test suite individually)

- [ ] In the [OGC release tracker](https://github.com/opengeospatial/te-releases/issues) assign the issue to a milestone.
- [ ] Check that the issues and pull requests in the ETS issue tracker are properly written and associated to the correct milestone. Make sure issues are closed in the ETS issue tracker.
- Do the release. Process involves

[2018-07-12 15:30] dstenger commented on #26
Information was published via mailing list.

----

All,

I am happy to announce that version 0.1 of test suite for WFS 3.0 was
released.

The release covers an implementation of Core conformance class.

Release includes following:
* Tag is created on GitHub [1].
 * Build of tag can easily be executed with Docker [2].
* Artifacts are uploaded to Central Maven Repository [3].
* Release notes are pub

[2018-07-16 13:15] cmheazel commented on #24
I would use a two pass approach.
First I would process the OpenAPI document to see what this service claims to support.
1) Extract the test paths and associated supporting data (security, parameters, etc.)
2) Discard any test paths which are not part of the WFS 3.0 spec.
3) Validate that the test path descriptions comply with WFS 3.0.
If the OpenAPI document does not comply with WFS 3.0, flag the

[2018-08-01 15:06] lgoltz commented on #26
[Release 0.1](https://github.com/opengeospatial/ets-wfs30/releases/tag/0.1) was created and is available on central maven repository.

[2018-08-01 15:06] #26 closed

[2018-08-06 15:20] aaime opened #27 "Providing landing page as "iut" results in a NullPointerException"
The README.md does not say which URL to provide (exemplifies a xml schema location instead), but giving a landing page one results in a NPE here:
https://github.com/opengeospatial/ets-wfs30/blob/a25a516309a54384599db5d0346ddb6b7c1e189a/src/main/java/org/opengis/cite/wfs30/collections/FeatureCollectionsMetadataOperation.java#L84

The method is apparently using the user provided URI to make the requ

[2018-08-06 15:27] aaime commented on #27
Giving the tests the "collections" page makes that test pass, but it seems the same URI is also used in the LandingPage class, which results in a odd error message:

"The landing page must include at least links with relation type 'service', 'conformance' and 'data', but contains [self, alternate] expected [true] but found [false]"

The "Expected true but found false is a side effect of the assert

[2018-08-06 15:30] aaime commented on #27
Ah, in case you want to reproduce, use this as the "iut": http://cloudsdi.geo-solutions.it/geoserver/wfs3
The server there still deploys three times a day and does not have all the latest fixes, but has enough to reproduce the NPE issue.

[2018-08-06 15:48] aaime commented on #27
Hum... how are you getting to the collections page? I've tried to just look at the code, and it seems to be using the rootURI, without adding "/collections", however, the actual request seems impossible to debug, rest assured is written in groovy and intelllij cannot give anything meaningul when decompiling its sources while I try to "step in" into the "request" method.

[2018-08-07 06:13] aaime opened #28 "Enhance ETS to run against server implementing the compact API flavor"
GeoServer does not implement a "collection by collection" API declaration, but opts for the more compact approach of having collection names as parameters and a single collections/items endpoint, as also exemplified on the WFS3 repository:

https://github.com/opengeospatial/WFS_FES/blob/master/openapi.yaml

However the test tries to find an explicit API endpoint for a given collection, and not fin

[2018-08-07 09:06] lgoltz commented on #27
Thanks a lot for your feedback! As far as I see we have several issues here:
1. Enhance the documentation (see #9).
1. Improve the ETS to accept the URL to the landing page or the API definition. Currently the URL to the landing page must be provided.
1. The collections are currently parsed from the landing page to test [A.4.4.5. Validate the Feature Collections Metadata Operation Response](https:

[2018-08-07 09:08] lgoltz commented on #28
Thank you for reporting.
You are right, this approach is currently not handled by the ETS.

[2018-08-07 09:12] aaime commented on #27
I think there is a misunderstanding of the spec here (or between us). The landing page does not contain the list of collections, it merely has a links to the collection metadata operation. The links must be followed and the collection metadata operation used to run test A.4.4.5

By specification, even the OpenAPI must contain a "collections" endpoint, not a "collection" one. Following it gives you

[2018-08-07 09:27] lgoltz commented on #27
Yes, I agree with you. That's why I think the test method `4. Validate that the returned document includes a collections property for each collection in the dataset.` is not testable by the ETS as we know the "collections" only from the feature collection metadata operation response which is the returned document under test.

[2018-08-13 08:19] lgoltz opened #29 "Accept API Definition and Landing Page as entry point"
s. #27

[2018-08-13 08:20] lgoltz opened #30 "Remove test FeatureCollectionsMetadataOperation.validateFeatureCollectionsMetadataOperationResponse_Collections ()"
see discussion in #27

[2018-08-13 08:20] lgoltz opened #31 "Improve message of failing test LandingTest.landingPageValidation()"
see #27

[2018-08-13 08:26] aaime commented on #27
Works for me

[2018-08-13 09:05] lgoltz commented on #31
PR #32 removes the existing but unused class ETSAssert and adds new assertions assertTrue and assertFalse to avoid the text "expected [true] but found [false]" if TestNG is used.

[2018-08-13 09:34] lgoltz commented on #30
Assert was removed from the test (as well as the failing method the test depends on). PR: #33

[2018-08-13 14:54] dstenger opened #34 "Update README.md regarding test execution (especially IDE mode)"
https://github.com/opengeospatial/ets-wfs30/blob/master/README.md

[2018-08-14 08:53] #27 closed

[2018-08-14 12:27] lgoltz opened #36 "Test validateCollectionsMetadataDocument_Links fails"
The test FeatureCollectionsMetadataOperation.validateCollectionsMetadataDocument_Links() currently fails against http://cloudsdi.geo-solutions.it/geoserver/wfs3 multiple times with the failure `Collections Metadata document must include links with relation 'item' for each supported encodings. Missing links for types [text/xml application/x-yaml]  `

The tests checks for each collection in the [col

[2018-08-14 12:36] lgoltz commented on #36
The same applies to the test FeatureCollectionsMetadataOperation.validateFeatureCollectionsMetadataOperationResponse_Links() (which does not fail, but the test method is the same).

[2018-08-15 06:49] lgoltz commented on #36
As already documented in https://github.com/opengeospatial/ets-wfs30/issues/7#issuecomment-400308380 the second test method of A.4.4.6. Validate a Collections Metadata document does not match the Requirement 13:

Test method:
[code]

Requirement 13:
[code]

Expected test method:
[code]

[2018-08-15 07:28] lgoltz commented on #36
Fixed with #37. Following tests still fails:

**WFS: http://cloudsdi.geo-solutions.it/geoserver/wfs3/**
* validateFeatureCollectionsMetadataOperationResponse_Links with failure: "Feature Collection Metadata document must include links for alternate encodings. Missing links for types [application/xml]"
   * `text/xml` is supported, but GML SF0 and SF2 expects `application/xml`
* validateCollections

[2018-08-16 09:29] lgoltz commented on #34
Updated README on master: https://github.com/opengeospatial/ets-wfs30/commit/b7501410789a83a69930b7b9cd93ff0adb8d10c5

[2018-08-16 13:37] #34 closed

[2018-08-17 15:08] #28 closed

[2018-08-17 15:08] #30 closed

[2018-08-17 15:10] dstenger commented on #28
@aaime Can you please rerun the test suite (master branch)? Now, all collections should be recognized.

[2018-08-20 10:37] aaime commented on #36
Test is still failing, but in a different way.
I'm now getting a:
``Collections Metadata document must include links with relation 'item' for each supported encodings. Missing links for types [text/xml, application/x-yaml] expected [true] but found [false]>``

However, the API document does not declare "text/xml" nor "application/x-yaml" for the items endpoints, but only for the collection one. On

[2018-08-20 13:05] lgoltz commented on #36
@aaime I assume you've tested with the current master?  The failure should be fixed with PR #37, which is not merged yet.

[2018-08-20 13:07] aaime commented on #36
I did test the master, yes.. thought everything was ready and merged already, I have missed the PRs were yet to be integrated

[2018-08-20 13:18] #36 closed

[2018-08-20 13:19] #31 closed

[2018-08-21 06:34] lgoltz opened #38 "Improve execution order of tests"
Currently a lot of tests are skipped cause the test they depends on fails.
The execution order should be clarified and improved.

[2018-08-21 06:44] lgoltz commented on #38
## Test Classes, methods and execution order:

* org.opengis.cite.wfs30.general.GeneralHttp
  * http11
* org.opengis.cite.wfs30.apidescription.LandingPage
  * landingPageRetrieval, groups = "landingpage"
  * landingPageValidation, groups = "landingpage", dependsOnMethods = "landingPageRetrieval"
* org.opengis.cite.wfs30.apidescription.OpenApi
 * openapiDocumentRetrieval, groups = "apidefinition",

[2018-08-21 08:42] lgoltz commented on #38
Added `alwaysRun = true`  if required to avoid skipping of tests cause of failed, depending test. Furthermore the group "conformance" was added to force execution of this class before conformance classes are required. Commit: https://github.com/opengeospatial/ets-wfs30/commit/e9e4bbe317c1d110eeaf9ab0e822ccbb5032c695

The changes results in a long running test if the service provides a lot of colle

[2018-08-21 11:40] lgoltz opened #40 "Fix tests for parameters in the OpenAPI document in case of compact API"
The tests limitParameter, boundingBoxParameter and timeParameter in GetFeaturesOperation fails if the api definition has a compact API (http://cloudsdi.geo-solutions.it/geoserver/wfs3/).

[2018-08-21 12:46] dstenger commented on #36
@aaime

PR is merged now.

However, as described in https://github.com/opengeospatial/ets-wfs30/issues/36#issuecomment-413116902, the test is still failing with http://cloudsdi.geo-solutions.it/geoserver/wfs3/.

In our opinion, the test failure is correct.
If you disagree, please open a new issue or we can discuss this during the weekly meeting.

[2018-08-21 12:47] dstenger commented on #38
@aaime Please be aware that testing http://cloudsdi.geo-solutions.it/geoserver/wfs3 now takes very long (see https://github.com/opengeospatial/ets-wfs30/issues/38#issuecomment-414598107).

[2018-08-21 12:55] aaime commented on #38
The endpoints provided for the Testbed14 are:

http://cloudsdi.geo-solutions.it/geoserver/daraa/wfs3
http://cloudsdi.geo-solutions.it/geoserver/zaatari/wfs3

The server indeed contains a lot of extra layers that are not meant to be part of the compliance activities

[2018-08-22 12:16] lgoltz commented on #40
A new data provider was added to get all paths for /collection/{id}/items paths from api definition:
https://github.com/opengeospatial/ets-wfs30/commit/5f32b86405484efeeb38ede0b875465edb57f897

Not tested against http://cloudsdi.geo-solutions.it/geoserver/wfs3/

[2018-08-22 12:30] aaime commented on #40
Still failing, the issue is here:

https://github.com/opengeospatial/ets-wfs30/blob/e9e4bbe317c1d110eeaf9ab0e822ccbb5032c695/src/main/java/org/opengis/cite/wfs30/collections/GetFeaturesOperation.java#L476

and in particular in the findParameterByName call, it's looking for a "/collections/sf__PrimitiveGeoFeature/items" which is not in the API because of its compact nature, it should be looking for

[2018-08-22 12:52] aaime commented on #40
Same happens for the checks on limit and time in the same class.

[2018-08-22 13:49] lgoltz commented on #40
@aaime The fix is not merged yet, because we could not test against your service (one of http://cloudsdi.geo-solutions.it/geoserver/wfs3, http://cloudsdi.geo-solutions.it/geoserver/daraa/wfs3, http://cloudsdi.geo-solutions.it/geoserver/zaatari/wfs3). They are currently not running, can you take a look at them?

[2018-08-22 13:51] aaime commented on #40
Eh, I've noticed, the server deploys off the nightly builds and we just switched from version 2.14 to version 2.15, which caused all non core extensions to disappear from the server. Unfortunately I could not fix it yet and the devops in charge of it is in vacation.
Could you make a pull request with the changes? I could run local tests from it.

[2018-08-22 13:54] #40 closed

[2018-08-22 13:55] lgoltz commented on #40
@aaime Merged! Thanks for testing it!

[2018-08-22 15:37] aaime opened #42 "Bounding box tests over polar area use invalid latitude values"
The current tests use latitude values up to 160° for the polar regions test:

https://github.com/opengeospatial/ets-wfs30/blob/5f32b86405484efeeb38ede0b875465edb57f897/src/main/java/org/opengis/cite/wfs30/collections/GetFeaturesOperation.java#L118

However 160 is an invalid latitute, checking the specification I see no allowance to use such a high value.
In GeoServer the WFS engine is shared among

[2018-09-11 15:02] aaime commented on #42
Hi, has there been any progress on this ticket?

[2018-09-11 17:29] aaime opened #43 "Exhaustive paging tests unecessary slow/too many requests performed"
The paging tests seem to page through the whole collection in pages of 6 items. For a layer like Zaatari's StructurePnt, holding over 2000 features, that's a lot of requests and a lot of checks.
I believe these checks should be given some limit. Suggestion:

- Do a first request and check the numberMatched
- Restart, with a page size that makes sure not too many requests are done against that coll

[2018-09-12 09:14] aaime commented on #42
Opened a related ticket on the specification, to see if the issue should be handled there, instead of here:
https://github.com/opengeospatial/WFS_FES/issues/163

[2018-09-12 11:13] lgoltz commented on #42
@aaime Thank you for reporting!

opengeospatial/WFS_FES#163

I think the test should use correct bounding boxes. Currently test for exceptions are not described in the ATS.
The polar regions tests should use the following bounding boxes (e.g):
  * -180.0, 85.0, 180.0, 90.0
  * -180.0, -85.0, 180.0, -90.0

@aaime Do you agree?

[2018-09-12 11:49] aaime commented on #42
Those bounding boxes work fine for me. Would still be interesting to know if the spec leaders want to give the spec a "rigid" or "forgiving" approach when it comes to invalid coordinate values.

[2018-09-12 12:48] lgoltz commented on #42
Fixed with https://github.com/opengeospatial/ets-wfs30/commit/4c108378ed54eeca215932615071edbcb6e53910 on master.

[2018-09-17 14:54] aaime commented on #42
Yep, that fixed it, thank you!

[2018-09-17 14:54] #42 closed

[2018-09-17 14:57] aaime commented on #43
As we discussed in the call, also doing the polar tests with relatively large bounding boxes might be problematic in terms of runtime, the dataset could contain a lot of features in that area (millions or more).
It's not an issue of making the bbox smaller, I believe one has to limit it using the limit parameter to ensure no more than N features are returned.
Mind, it's an improvement, but one cou

[2018-09-18 07:05] lgoltz commented on #8
Copied https://github.com/opengeospatial/ets-wfs30/issues/8#issuecomment-401089899 to https://github.com/opengeospatial/WFS_FES/issues/112#issuecomment-422278886

[2018-09-18 07:45] lgoltz commented on #43
@aaime Thank you for reporting! It is correct, that the number ob request strongly depends from the number of collections and features the service provides. This may lead to serious problems on the server side as well as in the test suite.

One reason is test method 6 described in the ATS  [A.4.4.10. Validate the Get Features Operation Response](https://rawgit.com/opengeospatial/WFS_FES/master/doc

[2018-09-25 14:02] cmheazel commented on #43
@lgoltz @aaime  I like the idea of allowing the tester to set limits.  There may be other places where limits are needed so let's think in terms of a general solution.  In addition, there must be a minimum value so that a tester cannot shortcut a test by setting trivial value.

I suggest that the limit work something like this:
1) If the test fails or completely succeeds, do not report on the limi

[2018-09-25 14:08] cmheazel commented on #43
I'm thinking of adding a requirement to WFS 3.0 - "WFS 3.0 implementations shall comply with the principle of least astonishment."  The purpose of this requirement is to provide criteria for judging the "quality" of an implementation.  For example, a WFS which returns thousands of features but does not support paging.  Failing this requirement generates a warning (as above) rather than a fail.

Th

[2018-10-01 14:35] cmheazel commented on #43
Consensus:
1.a) Allow the user to limit the number of collections and Features.  Modify ATS to allows.
1.b) Set a default value for the number of collections/Features limit.  This is overridden by a user specified value.
2) Leave ATS as is.
3) Use the approach described above to provide repeatable test parameters. Modify ATS.

[2018-10-04 14:59] lgoltz commented on #43
Tasks described in https://github.com/opengeospatial/ets-wfs30/issues/43#issuecomment-422290174 was implemented: PR #44

[2018-10-04 15:00] lgoltz opened #45 "Update implementation to OGC API - Features 1.0 spec"
OGC API - Features 1.0 Specification: http://docs.opengeospatial.org/is/17-069r3/17-069r3.html

Working Branch:https://github.com/opengeospatial/ets-ogcapi-features10/tree/updateEts-45

[2018-10-05 16:20] aaime commented on #29
I believe the test is now accepting the landing page as an entry point, right?
What about the API? If it does, then we could close this ticket

[2018-10-08 04:38] lgoltz commented on #29
This issue is not implemented yet.

[2018-10-08 16:29] dstenger commented on #43
Test suite is much fast now as not all collections are considered any more.
The GUI was also enhanced to configure considered collections dynamically.

@aaime Can you please test this enhancement and close this issue if you confirm that the performance problem is solved?

[2018-10-15 14:31] dstenger commented on #43
Tested successfully as stated during Testbed 14 meeting.

[2018-10-15 14:31] #43 closed

[2018-10-15 14:38] dstenger commented on #9
Describe what URLs can be tested.

[2018-10-23 06:52] lgoltz commented on #9
Commit: https://github.com/opengeospatial/ets-wfs30/commit/6c2a00af1b94dcce274fd0cf1bc4d75c090c49df

[2018-10-23 08:55] lgoltz commented on #9
Commit: https://github.com/opengeospatial/ets-wfs30/commit/6c2a00af1b94dcce274fd0cf1bc4d75c090c49df

[2018-10-23 08:58] lgoltz commented on #9
* Transformed md to adoc: https://github.com/opengeospatial/ets-wfs30/commit/b7ee82275a7b9f6923d2e5a224afdd81bab1d402
* Updated site: https://github.com/opengeospatial/ets-wfs30/commit/b7d63255a60afd93739ecd8f03c69cb1a72f1f83
* Extracted the information about how to run the test suite to avoid redundant information (in README and site): https://github.com/opengeospatial/ets-wfs30/commit/1c11cfd6f9

[2018-10-23 09:36] lgoltz commented on #9
Tested with 0.2-SNAPSHOT (local docker environment). The link in the new HTML report is broken, the one in the old report is correct.

**Current link:** http://opengeospatial.github.io/ets-wfs30 0.2/apidocs/org/opengis/cite/wfs30/collections/GetFeaturesOperation#boundingBoxParameter
**Expected:** http://opengeospatial.github.io/ets-wfs30/apidocs/org/opengis/cite/wfs30/collections/GetFeaturesOperat

[2018-10-23 09:49] lgoltz commented on #29
I've rechecked again:
 * landingPageRetrieval and http11 passed
 * a NPE occurs in the test landingPageValidation
 * other tests are skipped

There may be side effects from other changes, but this issues is not solved yet.

[2018-10-24 14:08] lgoltz opened #46 "Clean Up ETS"

[2018-11-06 12:55] #9 closed

[2018-11-06 14:58] #46 closed

[2018-11-07 12:24] lgoltz opened #49 "Create Release 0.2"

[2018-11-19 18:57] cmheazel opened #50 "Request Timer - discussion"
WFS 3.0 does not require a timeout on a request.  How should a compliance test respond if a request takes an exceptionally long time to respond, or doesn't respond at all?  One option would be to provide a user configurable timer.  The timer would start whenever a request is issued.  It would be stopped when the response is received.  If the timer expires, then the service took too long to respond

[2018-12-21 10:46] #49 closed

[2019-01-16 17:39] dstenger opened #51 "Improve Docker configuration and enable push to Docker Hub"
Please update configuration to following status: https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites

[2019-01-18 12:02] keshav-nangare commented on #51
Updated the docker configuration with this commit: e5d1ed0.

[2019-03-26 18:02] tschaub opened #53 "Question about landing page as html"
[The docs](https://github.com/opengeospatial/ets-wfs30/blob/758ffaf536978fa34a0eb907147ad467072850b2/src/site/asciidoc/index.adoc) for this repo say

My reading of the spec is that [`html` is recommended](http://docs.opengeospatial.org/DRAFTS/17-069.html#rec_html) but not required.

Do these tests require that a service implements the `html` encoding?  If so, what requirement in the spec does that

[2019-03-27 09:49] dstenger commented on #53
Yes, you are right.
This is a requirement of the test suite but it is recommended by spec.

However, due to technical limitations we had to define a couple of preconditions services must fulfil to be able to use this test suite.

The HTML encoding is just related to the landing page. Otherwise, JSON encoding must be supported by tested service.

If this precondition prevents that you can use this

[2019-03-31 20:47] ThomasG77 opened #54 "Manage getFeatureUrlWithFeatureId when no query string"
I'm implementing an Express based server WFS 3.0 (not public, need to be hardened before publication), I do not provide at the moment an output format like "?f=json" as I use only default output to json.
In the code of test for `getFeatureOperation` https://github.com/opengeospatial/ets-wfs30/blob/master/src/main/java/org/opengis/cite/wfs30/collections/GetFeatureOperation.java#L102 the test presum

[2019-04-01 07:39] dstenger commented on #54
Thank you for this bug report and the provided fix.
Yes, please create a pull request. We very much appreciate that.

[2019-04-08 14:56] ThomasG77 opened #56 "Test for extent should manage both integer and float"
Running `mvn integration-test` by changing spatial extent values in https://github.com/opengeospatial/ets-wfs30/blob/master/src/test/resources/org/opengis/cite/wfs30/collections/collections.json#L47-L50 to integer lead to a cast issue in the tests when converting extent to bbox. Tests implementation for extent should support both integer and float IMO.
The return error (with cleaned output) is the

[2019-04-12 12:43] dstenger commented on #56
I agree, both, integer and float, should be supported.

[2019-04-17 14:25] #51 closed

[2019-04-17 14:29] #54 closed

[2019-04-19 17:25] keshav-nangare commented on #56
Fixed with this PR #57.

[2019-04-24 09:39] #56 closed

[2019-05-14 02:42] tomkralidis opened #58 "how to address skipped tests"
Using the ets-wfs30 Docker image, our testing of [pygeoapi](https://pygeoapi.io) results in:

Pass: 21 | Fail: 0 | Skip: 3 | Total tests: 24

The 3 skipped tests are show below.  Not sure if this is a bug in the tests or how the these should be interpreted.

bounding Box Parameter | Implements A.4.4.12. Bounding Box Parameter (Requirement 20) \|                    Details ↗ | 02:34:05 | 0 ms | jav

[2019-05-14 09:38] lgoltz commented on #58
@tomkralidis Thanks for reporting this. Seems to be a bug. Can you provide the service URL or at least the OpenAPI document describing the service?

[2019-05-14 15:12] tomkralidis commented on #58
@lgoltz sample URL at http://geo.kralidis.ca/pygeoapi/

[2019-05-16 06:38] lgoltz commented on #58
@tomkralidis The fix will provided in version 0.4. Until the new release is available you could select "All collections" instead of the "Limited number of collections: 3" after the new session was started.

[2019-05-16 06:40] lgoltz opened #60 "Add documentation of parameter noofcollections for REST API"

[2019-05-16 09:11] dstenger commented on #60
Pull request was successfully tested with WFS 2.0 test suite.

[2019-05-16 09:29] #58 closed

[2019-05-16 09:30] dstenger commented on #58
Fix was successfully tested and merged into master branch.

@tomkralidis You can easily build a Docker Image and start a Docker Container of master branch by executing `mvn clean install docker:run -Pdocker`.

[2019-05-16 09:36] #60 closed

[2019-05-16 13:54] tomkralidis commented on #58
@dstenger is the docker image updated?  Currently I'm just pulling the built image from Docker Hub.

[2019-05-16 14:26] dstenger commented on #58
No, unfortunately, Image on Docker Hub will be updated when we create the next release (this or next month).
However, you can either install Maven and execute above mentioned command in cloned repository or you can also try the workaround proposed by lgoltz.

[2019-05-17 03:49] tomkralidis opened #62 "A.4.4.14 skipped test - 'No featureId available'"
Hi: I am getting a skipped test per below. Can someone provide a suggestion on what the tests are looking for so as NOT to skip?

get Feature Operation | Implements A.4.4.14. Get Feature Operation (Requirement 30, 31) \|                    Details ↗ | 03:39:48 | 0 ms | No featureId available for collection 'ne_110m_populated_places_simple'
-- | -- | -- | -- | --

[2019-05-17 03:51] tomkralidis opened #63 "A.4.4.15 skipped test - 'Could not find a response'"
Hi: I am getting a skipped test per below? What are the tests looking for so as NOT to skip?

validate The Get Feature Operation Response | Implements A.4.4.15. Validate the Get Feature Operation Response (Requirement 32) \|                    Details ↗ | 03:39:48 | 0 ms | Could not find a response for collection with name ne_110m_populated_places_simple
-- | -- | -- | -- | --

[2019-05-17 03:55] tomkralidis opened #64 "A.4.4.10 number of features evaluation"
Hi: I am getting a skipped test per below.  My collection has 242 features.  Where is the value 2818 coming from?

validate The Get Features Operation Response_property_number Matched | Implements A.4.4.10. Validate the Get Features Operation Response (Requirement 28) \|                    Details ↗ | 03:39:44 | 3s | Value of numberReturned (242) does not match the number of features in all respon

[2019-05-17 04:05] tomkralidis opened #65 "Rename parameter 'time' to 'datetime'"
It looks like the specification was recently updated to rename `time` to `datetime` (requirement 22). When configuring my WFS3 with `datetime` everything seems to work, but configuring with `time` I get a Java exception.

[2019-05-17 08:50] lgoltz commented on #63
@tomkralidis Can you provide the URL of the service?
Please check if the test `getFeatureOperation` for the collection with the same name (ne_110m_populated_places_simple) was successful. The test `validateTheGetFeatureOperationResponse` validates the response of `getFeatureOperation`, so this test must be successful, otherwise the response is not available and the test `validateTheGetFeatureOpera

[2019-05-17 08:51] lgoltz commented on #63
`getFeatureOperation` is not successfull, as documented in #62

[2019-05-17 09:00] lgoltz commented on #62
@tomkralidis Can you provide the url of the service?

This featureId may be empty if the collection with the name ne_110m_populated_places_simple is empty or the id is missing.

[2019-05-17 09:05] lgoltz commented on #64
The test iterates over all `next` links in the response beginning with the first one and counts all features in the responses.
@tomkralidis Can you provide the URL of the service?

[2019-05-17 09:09] lgoltz commented on #65
The ets is outdated. We have to rename `time` to `datetime`.
I assume you get the failure if you are using `datetime`, not `time` as described above?

[2019-05-17 12:03] tomkralidis commented on #65
Correct.

[2019-05-17 14:26] tomkralidis commented on #62
@lgoltz http://ec2-18-222-159-167.us-east-2.compute.amazonaws.com/pygeoapi/ (for testing)

[2019-05-17 14:26] tomkralidis commented on #64
@lgoltz http://ec2-18-222-159-167.us-east-2.compute.amazonaws.com/pygeoapi/

[2019-05-17 14:30] tomkralidis commented on #63
@lgoltz http://ec2-18-222-159-167.us-east-2.compute.amazonaws.com/pygeoapi/

Can I find, within each test name, the actual request being run so as to isolate and debug?

[2019-05-27 07:29] lgoltz opened #66 "Rename ets and fix version"
WFS 3.0 was renamed to OGC API - Features: https://github.com/opengeospatial/WFS_FES/issues/189#event-2353385653

 * [x] Rename repository name
 * [ ] Rename name of the ets
 * [ ] Change version

[2019-05-27 08:42] lgoltz commented on #64
@tomkralidis  The test uses the parameter `limit` with the maximum value describe in the OpenAPI document. 10000 described in http://ec2-18-222-159-167.us-east-2.compute.amazonaws.com/pygeoapi/api?f=json

The request http://ec2-18-222-159-167.us-east-2.compute.amazonaws.com/pygeoapi/collections/ne_110m_populated_places_simple/items?f=json&limit=10000 returns 242 features (as expected cause `number

[2019-05-27 11:34] lgoltz commented on #63
Usually the request is available if the test fails. Tests are skipped cause of not fulfilled preconditions, mostly failing tests. In the old report the dependencies betweens tests can be followed by the property "Depends on methods" (and "Depends on groups" if the assignment to a group would be document) in the details of a test.

[2019-06-20 10:00] dstenger opened #67 "Use this test suite as base for OGC API Common test suite?"
Is there demand for an OGC API Common test suite?

Current status of OGC API Common specification: https://github.com/opengeospatial/oapi_common

[2019-06-20 11:26] dstenger opened #68 "Enhance Docker documentation"
Update https://github.com/opengeospatial/ets-wfs30/blob/master/src/site/asciidoc/how-to-run-the-tests.adoc.

Add hint to Docker Hub repository.

[2019-06-20 15:10] dstenger commented on #67
Even if there is no demand for a stand alone test suite, it would be worth developing one:
An OGC API Common test suite could be used as (Java) library or template for other OGC API test suites providing basic tests and functionalities.

[2019-06-20 15:26] dstenger commented on #53
We just rechecked the implementation of test suite and actually HTML is not mandatory for the landing page (also tested it).
Thus, I created a pull request correcting documentation. In addition, the wording of test suite preconditions was improved.

[2019-06-20 15:38] dstenger commented on #62
@tomkralidis Can you provide the test service again? I can take a look at it, now (at Hackathon).

[2019-06-20 15:43] tomkralidis commented on #62
http://ec2-18-222-159-167.us-east-2.compute.amazonaws.com/ (at Hackathon too, at the Processing table come by!)

[2019-06-20 17:27] dstenger commented on #68
There is a problem with the images: As we also build site documentation, the images must be in resources folder. However, they won't be displayed via GitHub then.

[2019-06-21 11:03] dstenger commented on #62
There is a bug in the test suite.
`org.opengis.cite.wfs30.util.JsonUtils#parseFeatureId` didn't accept feature ids of type integer. As your service just contains integer feature ids, none of the ids was processed.

I created a pull request to fix this issue. A functional test with your service was successful.

[2019-06-21 11:11] #68 closed

[2019-06-21 13:59] dstenger commented on #63
@tomkralidis
When testing service of https://github.com/opengeospatial/ets-wfs30/issues/62#issuecomment-504077701 with test suite containing fix for #62, the test is passing.
If you can confirm this, please close the issue.

[2019-06-24 15:23] dstenger commented on #29
As the landing page is mandatory, I don't see an additional benefit of allowing API definition as test suite input (except of higher flexibility).

[2019-06-26 01:31] tomkralidis commented on #63
@dstenger I was able to locally build the docker image.  Testing locally shows this test is passing.

[2019-06-26 01:31] #63 closed

[2019-06-26 01:45] tomkralidis commented on #64
Thanks @lgoltz fixed on our side.  CITE test now does not skip.  Thanks.

[2019-06-26 01:58] #64 closed

[2019-06-26 01:59] tomkralidis commented on #62
Testing against a locally built docker image (with #71 as a hotfix) fixes the issue.  Thanks!

[2019-06-26 01:59] #62 closed

[2019-06-26 02:03] tomkralidis opened #72 "A.4.4.7 - test failure"
Test A.4.4.7 (Requirements 15/16) fails.

Response as shown from CITE:
[code]

Reason for failure:

[code]
Any idea where the error could be?

[2019-06-26 13:22] dstenger commented on #72
This test compares the metadata of a single collection by retrieving it in two different ways:
- [SOME_PATH]/collections
- [SOME_PATH]/collections/[COLLECTION_ID]

As far as I recall, in your case there is a difference in returned links.
Can you please check this?

[2019-06-26 13:34] dstenger commented on #45
Right after TC Meeting in Leuven a new version of ATS will be released including major changes.
Following tasks come up:
* Identify changes in test suite structure and test implementations.
* Update test implementations.
* Update test suite structure (e.g. TestNG configuration, class and method names, description of single tests, and documentation).

[2019-06-30 14:29] #72 closed

[2019-06-30 14:30] tomkralidis commented on #72
Thanks @dstenger.  Issue fixed in pygeoapi.

[2019-08-31 18:16] ghobona opened #73 "Change title, short name and description to reflect OGC API - Features"
The URI (handle) can be kept the same but the title and description should reflect the new name of `OGC API - Features`.

[2019-09-23 12:52] dstenger commented on #45
ATS in specification was updated: https://github.com/opengeospatial/ogcapi-features/issues/112.
Thus, the test suite must be checked regarding this update.

[2019-10-10 06:40] lgoltz opened #74 "Minor improvements and bug fixes"
Working Branch of #45 is used: https://github.com/opengeospatial/ets-ogcapi-features10/tree/updateEts-45

[2019-10-16 13:39] dstenger commented on #73
Abbreviation of `OGC API - Features` is discussed in: https://github.com/opengeospatial/oapi_common/issues/35

[2019-10-17 22:37] bermud opened #76 "Remove Java code failure semantics"
![image](https://user-images.githubusercontent.com/3738898/67052698-ef684380-f10c-11e9-878f-c07d2e87a978.png)

![image](https://user-images.githubusercontent.com/3738898/67052746-132b8980-f10d-11e9-801e-b257cf13716e.png)

Please remove the Java class names from the Reason column:
org.testng.SkipException
java.lang.AssertionError
...

[2019-10-25 11:51] pblottiere opened #77 "XSL file to transform XML report into html"
Hi everyone,

I'm using the REST API to run test-wfs3O on QGIS Server and a XML report is returned then. Do you have a XSL file to convert the report into html?

Thanks.

[2019-10-25 12:33] pblottiere commented on #77
Mmmm, unlike the ets-wms130 testsuite, it seems we get a xml/rdf report instead...

[2019-10-25 13:00] dstenger commented on #77
You can control the output format of REST API by HTTP Accept header.
Please check chapter "Using the REST API" of http://opengeospatial.github.io/teamengine/users.html for a full description.

[2019-10-31 08:20] sampov2 opened #78 "Test suite should be made compatible with final specification for API Features"
The test suites should be reviewed and corrected to be in line with the final version of the specification (http://docs.opengeospatial.org/is/17-069r3/17-069r3.html). For example collections now have an "id" instead of "name" and most if not all the test code seems to still be using the old field name.

One example:
https://github.com/opengeospatial/ets-wfs30/blob/d4e9250e4adab69feb3db11df37cd385c

[2019-11-04 14:55] dstenger commented on #73
Working branch: https://github.com/opengeospatial/ets-wfs30/tree/setNameOfTestSuiteToOGCAPIFeatures-73

[2019-11-04 15:43] bermud commented on #66
Continue the work  in issue #73.

[2019-11-04 15:43] #66 closed

[2019-11-04 16:17] dstenger commented on #78
Thank you for reporting.

We are already reviewing the test suite and document the results in https://github.com/opengeospatial/ets-ogcapi-features-1.0/issues/45.
Any help is welcome.

[2019-11-06 09:41] keshav-nangare commented on #76
The issue is with teamengine not with ETS so the fix should be added in teamengine. https://github.com/opengeospatial/teamengine/issues/414

[2019-11-06 09:42] #76 closed

[2019-11-11 05:56] #53 closed

[2019-11-11 06:00] lgoltz commented on #78
Duplicate of #45

[2019-11-11 06:01] #78 closed

[2019-11-11 07:10] lgoltz commented on #73
Branch: https://github.com/opengeospatial/ets-ogcapi-features-1.0/tree/updateEtsTo-17-069r3-2019-10-07-45

Commit: https://github.com/opengeospatial/ets-ogcapi-features-1.0/commit/91d293f1fb0479ba42d96624cb0bcc0cc6f8dc01

[2019-11-12 12:28] #73 closed

[2019-11-12 12:29] #65 closed

[2019-11-25 13:35] #74 closed

[2019-11-25 13:38] dstenger opened #79 "Update documentation to OGC API - Features 1.0 spec"
Working Branch:https://github.com/opengeospatial/ets-ogcapi-features10/tree/updateEts-45 (from https://github.com/opengeospatial/ets-ogcapi-features10/issues/45)

[2019-11-25 13:41] lgoltz commented on #45
## Update

**A.2.1. General Tests**
* Reference: http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_general_tests
* Commit: https://github.com/opengeospatial/ets-ogcapi-features10/commit/fc6d2e9eb0e86a9a9dcfa535c815245a495d518d
* Untested:
  * A.2.1.1. HTTP Test Method 2
  * A.2.1.2. CRS 84

[2019-11-25 14:27] dstenger commented on #79
Site documentation was updated: https://github.com/opengeospatial/ets-ogcapi-features10/commit/a7a5f9ba265f1da4f88fb18456e80cbc6b0f5016

[2019-11-25 14:34] dstenger commented on #79
Updated documentation of REST interface: https://github.com/opengeospatial/ets-ogcapi-features10/commit/a19e523c5b6b29764223631aff56b763adf0f091

[2019-11-25 14:59] lgoltz commented on #45
## Failures/Typos in Specification
* A.2.1.1. HTTP, Typo:
  * => approprate
* A.2.3. API Definition Path {root}/api (link)
  * => Duplicate Test Purpose
*  A.2.5. Feature Collections {root}/collections, Abstract Test 10, test Method 1 and 2
   * => Invalid references

[2019-11-25 15:43] dstenger commented on #79
Updated ids and strings related to spec name: https://github.com/opengeospatial/ets-ogcapi-features10/commit/2183829c3b3dbf2ea46e51d27ee4d1b7d64c6705

[2019-12-09 11:33] dstenger opened #80 "Review and test update to OGC API - Features spec"
Current status:
* Latest release is installed on Beta environment: http://cite.opengeospatial.org/te2/

Tasks:
* Collecting feedback of other users testing their own implementations.
* Review of https://github.com/opengeospatial/ets-ogcapi-features10/issues/45.

[2019-12-09 11:39] #45 closed

[2019-12-09 11:39] #79 closed

[2019-12-09 12:48] cportele commented on #80
@dstenger

I did a test with the following API: https://services.interactive-instruments.de/t15/daraa/

I get several errors that I do not understand.

One error is `timeStamp in response must be after the request was send (2019-12-09T12:11:17.553Z) but was '2019-12-09T12:11:17Z'` which does not seem justified as milliseconds are optional.

One option could be to change FeaturesAssertions from

[c

[2019-12-09 16:19] dstenger commented on #80
@cportele

Thank you for the feedback.

Regarding timeStamp: Yes, we agree that your proposed implementation is more generic. We will adjust the implementation.

Regarding limit: The test targets `Requirement 21 - /req/core/fc-limit-response - A`. From our understanding the spec states that the maximum number of features is returned when limit exceeds maximum. Otherwise, shouldn't the spec demand

[2019-12-09 16:37] cportele commented on #80
The requirement /req/core/fc-limit-response-1 requires that the response never contains more features than the value of `limit` in the request or than the `maximum` of the limit parameter in the API definition.

If the value of `limit` is higher than the `maximum` this is an error as it does not fit the API definition and the API must return a 400 response. See also http://docs.opengeospatial.org/

[2019-12-09 17:11] lgoltz commented on #80
Removed test with limit > maximum: https://github.com/opengeospatial/ets-ogcapi-features10/commit/61e136e74a9d761735a0f0bfff02d17a0830e22c

[2019-12-09 17:12] lgoltz commented on #45
Data provider was not erroneous  (https://github.com/opengeospatial/ets-ogcapi-features10/commit/706378a27b5f4bd7130fa2e471facb96679c0ddc) but the response could not be identified. Fixed with https://github.com/opengeospatial/ets-ogcapi-features10/commit/61e136e74a9d761735a0f0bfff02d17a0830e22c

[2019-12-10 10:28] dstenger commented on #80
Thank you for the hint. We fixed the limit test.

Also, the timeStamp test was improved.

[2019-12-10 10:31] cportele commented on #80
Thank you, looks good now:

`<testng-results skipped="0" failed="0" total="107" passed="107">`

[2019-12-10 14:25] cportele commented on #80
I have made some additional tests and created #82 as a result.

[2019-12-17 20:15] pblottiere opened #83 "Docker image for the last 0.5 tag"
Hello everyone,

I noticed that the testsuite has been updated for the final specification of the API. Do you plan to release a new Docker image for the last 0.5 tag?

Thanks a lot for your work!

[2019-12-18 11:02] dstenger commented on #83
Hi,
We already created a tagged Docker Image but the repository name changed: https://hub.docker.com/r/ogccite/ets-ogcapi-features10
Regards,
Dirk

[2019-12-18 11:39] pblottiere commented on #83
Hi Dirk,

Nice, thanks:+1:! I'm going to test it asap on QGIS Server :).

Have a good day.

[2019-12-18 11:39] #83 closed

[2019-12-19 13:30] tomkralidis commented on #65
FYI this issue seems to be present when pulling from Docker via https://github.com/opengeospatial/ets-ogcapi-features10/blob/master/src/site/asciidoc/how-to-run-the-tests.adoc#3-docker

[2019-12-20 10:17] dstenger opened #84 "Relative path in server object of OpenAPI document leads to test failure"
If the server object of the OpenAPI document contains a relative path in url element, following test fails:
[code]

However, when considering OpenAPI specification, relative paths in server objects are allowed: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#serverObject

So, the test suite must be adjusted to also accept relative paths in server object.

[2019-12-23 18:11] tomkralidis opened #85 "pygeoapi beta testing"
Testing http://cite.opengeospatial.org/te2 against http://147.102.109.27:5001 yields no failures but numerous skipped tests.

Skipped test root causes:

- `org.testng.SkipException: Could not find a response for collection with id canada-hydat-daily-mean-02hc003`
- `org.testng.SkipException: Could not find url for collection with id canada-hydat-daily-mean-02hc003 supporting GeoJson (type applicat

[2019-12-23 18:12] tomkralidis commented on #85
CITE beta details:
- username: tomkralidis
- session: s0078

[2020-01-02 15:32] dstenger commented on #85
Can you please check if the feature collection in JSON format contains the correct link to the features?
Following information is important (rel and type must be set correctly):
[code]

[2020-01-02 16:16] tomkralidis commented on #85
Thanks @dstenger .  I deleted/created another test session (s0078) and these issues were resolved.  At this point, I am getting 3 failures of type:

- `java.lang.AssertionError: timeStamp in response must not be after the request was send (2020-01-02T16:11:52Z) but was '2020-01-02T16:11:52.430407Z'`

Any idea on how to fix?

[2020-01-02 16:32] dstenger commented on #85
This seems to be a bug in the test suite. Can you please create a new issue for that?

[2020-01-02 16:35] tomkralidis opened #86 "timeStamp failures on items responses"
Testing http://cite.opengeospatial.org/te2 (username `tomkralidis`, session `s0078`) against http://147.102.109.27:5001 yields 3 failures of type:

- `java.lang.AssertionError: timeStamp in response must not be after the request was send (2020-01-02T16:11:52Z) but was '2020-01-02T16:11:52.430407Z'`

[2020-01-02 16:36] tomkralidis commented on #85
Thanks for the valuable feedback @dstenger.  Closing this issue in lieu of #86

[2020-01-02 16:36] #85 closed

[2020-01-10 16:58] pblottiere opened #87 "How to spot the root cause among several skipped tests?"
Hello everyone,

I'm currently trying to run ets-ogcapi-features10 on QGIS Server thanks to the corresponding [docker image](https://hub.docker.com/r/ogccite/ets-ogcapi-features10).

Below a screenshot of the TeamEngine report:

![cite](https://user-images.githubusercontent.com/9266424/72170186-b8829080-33d0-11ea-8aba-cae8e2c21923.png)

From what I understand, a lot of tests are `Skipped` because

[2020-01-13 09:10] dstenger commented on #87
Hi,

Yes, I also assume that the `openapi Document Retrieval` is the root cause of your problem.

Also, I agree that this test should fail instead of being skipped. Otherwise, this would be a valid test result.

Is this service publicly available so that we can use it for testing?

[2020-01-13 15:55] pblottiere commented on #87
Hi @dstenger,

Yes it is: http://138.201.120.72:8084/qgisserver_demo_wfs3/wfs3/

Thanks for your quick response :+1:

[2020-01-13 19:07] tomkralidis opened #88 "pygeoapi CITE official demo beta testing"
FYI we now have an official CITE demo URL for pygeoapi:

https://demo.pygeoapi.io/cite

When running against CITE beta (username: tomkralidis, session s0080), I receive 5 failures of type:
- 3 of type #86 and may be CITE specific
- 2 of type`1 expectation failed. Expected status code <200> but was <500>. `.  I don't have access to the demo server per se; how can I find out the actual URL from CITE

[2020-01-13 21:10] tomkralidis commented on #88
Update: I have found the 500 locally and testing a fix.

[2020-01-14 12:37] tomkralidis commented on #88
Fixed/server error.  Having said this, it would be valuable for CITE to emit error messages on which request was made against the failing test.

[2020-01-14 12:37] #88 closed

[2020-01-16 16:00] aaime commented on #86
I'm seeing the same running tests against GeoServer. Tracked down the test to this bit:

https://github.com/opengeospatial/ets-ogcapi-features10/blob/a7154544128b4ca219c46dc9e73557256a87f09b/src/main/java/org/opengis/cite/ogcapifeatures10/collections/FeaturesAssertions.java#L49

It seems it's checking local times against the remote times reported in the timestamp property of the response... if the

[2020-01-16 16:04] aaime opened #89 "Tests fail if 'unknownQueryParameter' is declared in the API, or if the API allows for any extra parameter"
Tests like https://github.com/opengeospatial/ets-ogcapi-features10/blob/a7eb2a19fb47fc6523c82a283f18794a2f6390a7/src/main/java/org/opengis/cite/ogcapifeatures10/collections/FeaturesErrorConditions.java#L113
should be check:

- If ``unknownQueryParameter`` is declared in the API (and not run, or use some other name)
- If the API is designed to allow additional freeform parameters (and not run this

[2020-01-20 09:57] dstenger commented on #89
Thanks for reporting. We will improve/fix the implementation.

[2020-02-12 09:11] dstenger commented on #86
@tomkralidis Can you provide a public link to a service which can be used to reproduce the bug? The linked service in issue description does not work anymore.

[2020-02-12 10:08] tomkralidis commented on #86
@dstenger you can now test against https://demo.pygeoapi.io/cite

[2020-02-13 12:00] keshav-nangare commented on #86
@dstenger

I went through the test implementation and able to find the root cause.

https://github.com/opengeospatial/ets-ogcapi-features10/blob/a7154544128b4ca219c46dc9e73557256a87f09b/src/main/java/org/opengis/cite/ogcapifeatures10/collections/FeaturesAssertions.java#L58-L64

We can see the variable `timeStampAfterResponse` at line no. 59, the seconds are getting truncated and validated with the

[2020-02-14 06:55] lgoltz opened #91 "Update dependency com.reprezen.kaizen:openapi-parser"
Currently 2.1.1-201803281732 is used, 4.0.4 is available.

[2020-02-14 08:45] lgoltz commented on #86
@keshav-nangare See https://github.com/opengeospatial/ets-ogcapi-features10/issues/80#issuecomment-563223232 for more information why the seconds are truncated.
I think the comparison should include 'equal'.

[2020-02-17 08:22] keshav-nangare commented on #86
Thank you! @lgoltz

I have tried a comparison with equals and tested the changes with service, the timestamp issue is not occurring any more.

[2020-02-17 10:43] #84 closed

[2020-02-17 12:59] dstenger commented on #86
As far as I see, the truncation of seconds is wrong and should be removed. Truncation of seconds should just be applied when "not before" is tested
In both cases, the test is made more flexible/lax when removing truncation (not after) and using truncation (not before).

Using "equal" is in my opinion not correct as 'equal' might be a valid result (very, very fast servers).

[2020-02-17 13:03] #91 closed

[2020-02-17 13:23] #89 closed

[2020-02-17 13:52] aaime commented on #86
@dstenger the test is IMHO inherently brittle, it works under the assumption that the system under test is running on a machine that is perfectly synchronized with the one running the test itself (e.g., the official CITE tests server), a time shift of a few seconds between the two might make the test systematically fail.

[2020-02-17 14:00] dstenger commented on #86
I agree. However, then we must define how lax the test should be: Minutes, hours, days etc.

[2020-02-17 17:20] keshav-nangare commented on #87
@dstenger

Updated the test `openapiDocumentRetrieval` which will fail if apiUrl is null.

Following is the new result:
![image](https://user-images.githubusercontent.com/14732650/74674598-c26d8f80-51d7-11ea-8593-c0d2762c301c.png)

[2020-02-19 12:48] #87 closed

[2020-02-19 14:54] pblottiere commented on #87
Awesome :).

And just out of curiosity, when do you plan to have a new release/Docker image with these modifications?

Thanks again for your work :+1:!

[2020-02-19 16:19] dstenger commented on #87
In your service the wrong `type` is set.
[code]
It should be `application/vnd.oai.openapi+json;version=3.0` instead.

[2020-02-19 16:19] dstenger commented on #87
We will release this test suites in the next weeks again.

[2020-02-19 16:28] pblottiere commented on #87
Oh, thanks for the tip!

Great :+1:

[2020-02-20 12:24] dstenger commented on #86
We propose following solution:
The check comparing date-time of client (TEAM Engine) and server (instance under test) is removed as the precondition of exactly synchronized times is too strict.
Instead, it is just checked if the value is a valid date-time value.

[2020-02-20 12:43] tomkralidis commented on #86
+1

[2020-02-20 15:54] dstenger commented on #86
@keshav-nangare
Can you please remove the two assertions as proposed in my previous comment?
The only assertion will be: `parseAsDate( timeStamp );`

[2020-02-21 09:18] keshav-nangare commented on #86
@dstenger
I have removed the date assertion. Can you please verify the fix?

[2020-02-21 16:43] #86 closed

[2020-02-27 18:52] #80 closed

[2020-03-03 09:40] dstenger opened #97 "Implement tests of Conformance Class GeoJSON"
Abstract test suite: http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_conformance_class_geojson

[2020-03-03 09:42] dstenger opened #98 "Implement tests of Conformance Class GML Simple Features Level 0"
Abstract test suite: http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_conformance_class_gml_simple_features_level_0

[2020-03-03 09:42] dstenger opened #99 "Implement tests of Conformance Class GML Simple Features Level 2"
Abstract test suite: http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_conformance_class_gml_simple_features_level_2

[2020-03-03 09:43] dstenger opened #100 "Implement tests of Conformance Class HTML"
Abstract test suite: http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_conformance_class_html

[2020-03-03 09:44] dstenger opened #101 "Implement tests of Conformance Class OpenAPI 3.0"
Abstract test suite: http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_conformance_class_openapi_3_0

[2020-03-03 09:45] dstenger opened #102 "Implement tests for Recommendations"
No abstract test suite available, yet.

[2020-03-12 17:22] dstenger opened #103 "Prepare release 1.0"

[2020-03-13 15:34] dstenger commented on #103
Status was updated to "Final": https://github.com/opengeospatial/ets-ogcapi-features10/commit/1e9b1f16aafd0cb85cf6bd4eae9e131cd3b16d15

[2020-03-24 19:22] #103 closed

[2020-03-26 21:01] heidivanparys opened #105 "Errors on generating Javadoc with Maven and AdoptOpenJDK"
I tried to build the code (mvn package) so I could use the "all-in-one" JAR file to run the tests locally but I got the following errors:

[code]

Updating the javadoc for method `JsonUtils.findLinksWithoutRelOrType()` resolves one issue, but the build still fails:

[code]

[2020-03-27 18:04] dstenger commented on #105
Thank you for reporting.
@keshav-nangare Can you please take a look at this problem?

[2020-03-30 05:35] keshav-nangare commented on #105
@dstenger

I went through the log, looks like you trying to build project with Java 11. There is an issue with javadoc in Java-11 reference to this issue https://bugs.openjdk.java.net/browse/JDK-8212233#descriptionmodule_heading

This issue is not occurring when we use Java 8 for a build. The following solution will fix this issue:

Update maven-javadoc-plugin with the following configuration

[co

[2020-03-30 08:29] heidivanparys commented on #105
Thanks for sorting this out.

I checked the documentation for the [maven-javadoc-plugin](https://maven.apache.org/plugins/maven-javadoc-plugin/javadoc-mojo.html), and the source can also be set using a user property.

![image](https://user-images.githubusercontent.com/11427611/77890865-684cf900-7270-11ea-9048-20e784176ebf.png)

So instead of updating pom.xml, the code can be built using `mvn packa

[2020-03-30 08:37] heidivanparys opened #106 "Error on build output"
Building the code with Maven (`mvn package`) on a Windows machine gives the following error (the build itself succeeds):

[code]

[2020-03-30 08:42] heidivanparys opened #107 "HTML report when running tests from command line"
I think it would be useful if a HTML report would be generated when running the tests from the command line. I now did a quick fix by changing `false` to `true` on line 117 in `org.opengis.cite.ogcapifeatures10.TestNGController`.

[code]

Are there any other ways to enable the generation of a HTML report? Or can the code be changed to incorporate this feature?

[2020-03-31 08:23] dstenger commented on #105
Nevertheless, we can also update the pom file.
@keshav-nangare Can you please create a pull request?

[2020-03-31 08:58] dstenger commented on #106
Thank you for reporting.
@keshav-nangare Can you please take a look at this problem?

[2020-03-31 09:06] dstenger commented on #107
Thank you for reporting.
Can you please describe how you executed the tests? Did you use an IDE and started the tests via TestNGController or did you use the shell to run the tests?

[2020-03-31 10:20] heidivanparys commented on #107
I used the shell to run the tests. So in order to get a HTML report, I changed the code, executed `mvn package` and executed the command as described on [How to run the tests](https://github.com/opengeospatial/ets-ogcapi-features10/blob/master/src/site/asciidoc/how-to-run-the-tests.adoc).

[2020-03-31 10:26] dstenger commented on #107
@keshav-nangare Can you please take a look at this problem?

[2020-04-09 13:32] keshav-nangare commented on #107
@dstenger

Following is the way we can provide runtime argument for generating HTML report:

1. We will define a new argument in the CommandLineArguments class(e.g outputDir) to accept a parameter for HTML report generation.
2. We need to make changes in the main method of TestNGController, while passing arguments to the TestNGController constructor which will set the runtime parameter.
[code]

3.

[2020-04-13 15:49] keshav-nangare commented on #105
Fixed with #108 PR.

[2020-04-22 08:27] dstenger commented on #107
Please also test this workflow with aio.jar, document the result and if it works fine, please create a pull request.

[2020-04-22 12:46] keshav-nangare commented on #107
@dstenger

I have tested workflow with aio.jar and it worked fine. I will create PR for the same.
Please find below the test execution log:
[code]

[2020-04-22 12:57] keshav-nangare commented on #107
Fixed with #109 PR.

[2020-04-23 09:05] keshav-nangare commented on #106
@dstenger

I am able to reproduce this issue on Mac OS as a warning. I have fixed this issue by updating the assembly descriptor file assembly/ctl-scripts.xml. There is one element `<includeSiteDirectory>` which is the cause of this error message. I have removed this flag and added extra logic to include site directory in build zip.

`[WARNING] The assembly descriptor contains a filesystem-root re

[2020-04-23 09:05] keshav-nangare commented on #106
Fixed with this PR: #110.

[2020-04-29 08:15] dstenger commented on #106
@keshav-nangare Can you please try to use `<siteDirectory>${project.build.directory}/site</siteDirectory>` parameter in assembly plugin`

[2020-05-05 06:39] keshav-nangare commented on #106
@dstenger

I have tried to use `siteDirectory` parameter but didn't find any references/example.

[2020-07-03 09:29] heidivanparys opened #111 "Error on build output: Error fetching URL: http://testng.org/javadocs/"
When trying to build the project (mvn package), I get the following error:

[code]

http://testng.org/javadocs/ indeed results in a 404 error.

It seems, when looking at https://testng.org/doc/, the javadoc has been moved to https://javadoc.jitpack.io/. The link at https://testng.org/doc/ to the javadoc is https://jitpack.io/com/github/cbeust/testng/master/javadoc/, but as ets-ogcapi-features10 is

[2020-07-03 10:51] heidivanparys commented on #111
A workaround for local use is to skip javadoc generation:

`mvn clean package -Dmaven.javadoc.skip=true`

[2020-07-03 11:50] dstenger commented on #111
Thank you for reporting.

However, I am able to build the javadoc and just get a warning (build is successful however):
[code]

What Maven and Java versions are you using for the build?

[2020-07-03 14:44] heidivanparys commented on #111
I get errors instead of warnings, and a failed build:

[code]

[2020-07-06 14:38] heidivanparys opened #112 "Too many tests when running in IDE"
I am trying to run the tests in Eclipse, as described in section 1 on https://github.com/opengeospatial/ets-ogcapi-features10/blob/master/src/site/asciidoc/how-to-run-the-tests.adoc

Too many tests are executed:

![image](https://user-images.githubusercontent.com/11427611/86605135-972ce680-bfa6-11ea-845a-b8671ee3604f.png)

When I run the tests using the console (section 2 in https://github.com/ope

[2020-07-06 15:39] heidivanparys commented on #112
I guess the answer would be updating testng.xml . My main issue was actually the failing test testParseAndValidateRequirementClasses, I was worried that that was the cause of some my other issues when trying to test a Web API. See #113 .

[2020-07-06 17:20] ghobona commented on #111
I encountered the same error.

[code]

@lgoltz @keshav-nangare Any ideas of what the cause might be?

[2020-07-06 17:33] ghobona opened #114 "Link with "self" relation type for feature collection"
In relation to this suggestion https://github.com/opengeospatial/ogcapi-features/issues/410#issuecomment-654286272

I suggest we comment out the assertion https://github.com/opengeospatial/ets-ogcapi-features10/blob/master/src/main/java/org/opengis/cite/ogcapifeatures10/collections/FeatureCollections.java#L122

[2020-07-06 18:13] ghobona commented on #112
@heidivanparys I think your proposed [edit](https://github.com/opengeospatial/ets-ogcapi-features10/pull/113/files#diff-33cc6f106f765467a8ff31fc293e0df2) fixes the issue of the test testParseAndValidateRequirementClasses.

[2020-07-06 19:46] ghobona commented on #111
Fixed by PR https://github.com/opengeospatial/ets-ogcapi-features10/pull/115.

[code]

[2020-07-07 08:23] heidivanparys commented on #114
Please note that #410 is about missing requirements in section 7.14 Feature collection, whereas the code referenced above tests a requirement from section 7.13 Feature collections.

Regarding the suggestion, I think that for INSPIRE, it can be solved with INSPIRE-MIF/gp-ogc-api-features#39 .

[2020-07-07 08:41] ghobona commented on #114
@heidivanparys Ok, understood. We'll review the spec and ETS again to determine a course of action.

[2020-07-07 11:55] heidivanparys commented on #111
Update:

[code]

![billede](https://user-images.githubusercontent.com/11427611/86773187-9acb7680-c055-11ea-847f-5739c8f58553.png)

See also https://github.com/ojdkbuild/ojdkbuild/releases/tag/java-13-openjdk-13.0.3.3-1

### Master branch

When taking the code from the master branch:

[code]

The important line is `[ERROR] Exit code: 1 - javadoc: error - Error fetching URL: http://testng.org/javado

[2020-07-07 12:17] heidivanparys commented on #112
@ghobona  Yes, I agree, that edit fixes the issue of the test testParseAndValidateRequirementClasses.

Perhaps a note should be added to https://github.com/opengeospatial/ets-ogcapi-features10/blob/master/src/site/asciidoc/how-to-run-the-tests.adoc that says that the JUnit tests are also run when using an IDE to execute the test suite?

[2020-07-07 16:12] heidivanparys opened #116 "Test should fail when no conformance URI is found in the API model"
Class Conformance contains the following:

[code]

When testPointsData is an empty array, the test should fail.

Example of an API where no conformance class is found: the root is here defined as https://my.url.com and the path as /abc/xyz/conformance, whereas the root should be https://my.url.com/abc/xyz and the path /conformance .

Unless that would be a valid API? But then the test should be up

[2020-07-07 17:06] ghobona commented on #112
@heidivanparys I agree, we will need to update the guidance on that page.

In the meantime, please note that you can run the Compliance tests without executing the JUnit tests by following the steps in the attached screenshots.

[RunningETSfromTestNGController.pdf](https://github.com/opengeospatial/ets-ogcapi-features10/files/4886126/RunningETSfromTestNGController.pdf)

[2020-08-12 12:36] heidivanparys commented on #116
That is actually a valid API, see https://github.com/opengeospatial/ogcapi-features/issues/427.

However, the test should still fail when no conformance URI is found in the API model.

Abstract test 7 (/conf/core/conformance-op) reads:

Test method `Conformance.validateConformanceOperationAndResponse(TestPoint)` is supposed to test abstract test 7, but it has a test point as parameter. The test po

[2020-08-12 12:41] heidivanparys opened #117 "ETS should take into account different ways of defining servers and paths"
The ETS should take into account the 2nd variant of defining an API as described in https://github.com/opengeospatial/ogcapi-features/issues/427

At first inspection, code changes would be required in `org.opengis.cite.ogcapifeatures10.openapi3.OpenApiUtils.retrieveTestPoints(OpenApi3, URI, String, PathMatcherFunction<Boolean, String, String>, boolean)` and in the `processServerObjects` methods. T

[2020-08-13 16:03] heidivanparys commented on #117
`OpenApiUtils.retrieveTestPointsForCollectionMetadata(OpenApi3, URI, String)` seems to require a code change too.

[2020-08-14 09:07] dstenger commented on #117
Thank you for reporting. We will do further investigation.

[2020-08-14 09:28] dstenger commented on #116
Thank you for reporting. We will do further investigation.

[2020-09-02 08:45] dstenger commented on #117
@heidivanparys Is it possible to provide a test service using the second variant of opengeospatial/ogcapi-features#427?

[2020-09-03 09:42] dstenger commented on #116
@keshav-nangare Can you please implement that method `validateConformanceOperationAndResponse` throws a test failure when data provider `conformanceUris` returns an empty array?

@heidivanparys I agree that the test suite is only retrieving `{iut}/conformance`. However, in my understanding, `{root}/conformance` should be equal to (each) conformance link on the landing page.
Thus, it is hard for me

[2020-09-07 15:31] heidivanparys commented on #117
@dstenger I sent a test service via mail.

[2020-09-11 16:58] notthatbreezy opened #118 "Using Docker instructions always yields "UnknownHostException""
I am using the docker instructions to try and execute the test suite, yet no matter what URL I use the test ends with a failure of `UnknownHostException`.

For instance, using the example server (`https://services.interactive-instruments.de/t15/daraa/`) from the documentation [here](https://opengeospatial.github.io/ets-ogcapi-features10/) I get the following:

[code]

![image](https://user-images.

[2020-09-11 17:57] dstenger commented on #118
Can you please check if the test runs successfully on the environment of OGC?
https://cite.opengeospatial.org/teamengine/

However, the test suite should also work on your local machine. It seems that the host cannot be found (`UnknownHostException: services.interactive-instruments.de`). Maybe the network configuration is not correct so that the Docker Container cannot access the internet?

[2020-09-14 16:29] keshav-nangare commented on #117
@dstenger

I have added a new method that will retrieve the base path using `operationId = getLandingPage`. The base path will be used to get other path's values. You can see the base path in the below screenshot for different services:

![Capture](https://user-images.githubusercontent.com/14732650/93081179-7bcc0f00-f6ac-11ea-84b1-be05333dbe69.PNG)

[2020-09-14 16:44] keshav-nangare commented on #116
@dstenger

If the DataProvider is empty then the test `validateConformanceOperationAndResponse ` is not triggered by DataProvider.
I have updated the test which will throw the exception if `conformanceUris` dataProvider is empty but it shows as skipped in the HTML report.

For more reference the test result after changes:

![image](https://user-images.githubusercontent.com/14732650/93113468-da0de7

[2020-09-14 17:32] cportele commented on #117
Please note that there is no requirement to provide an `operationId` or to provide a specific value. So, if I understand the proposed change correctly, this will not solve the issue, but rather create new problems.

The URI of the landing page is the value of `iut`. This should be used to determine the path object of the landing page.

[2020-09-16 08:22] dstenger commented on #117
@heidivanparys Can you try to use https://my.url.com/v1/mydata (taken from example opengeospatial/ogcapi-features#427) as test input? Does the test suite work correctly then?

[2020-09-16 08:56] dstenger opened #121 "Cleanup dependencies"
When running `mvn org.apache.maven.plugins:maven-dependency-plugin:analyze`, I get following warnings:
[code]

All used undeclared compile dependencies shall be declared in Maven pom file.
All unused declared dependencies shall be removed from Maven pom file.

[2020-09-16 12:27] dstenger commented on #117
@keshav-nangare I just re-checked the implementation and, as the path objects of the OpenAPI document are used, the implementation of the test suite must be updated here.
As cportele proposed, we can use the value of `iut` which is the URL to the landing page to determine the path objects. You could use the servers object of the OpenAPI document by excluding it from iut to retrieve the correct pat

[2020-09-16 13:01] heidivanparys commented on #117
@dstenger ok, no problem, I didn't start testing yet.

[2020-09-17 13:37] keshav-nangare commented on #117
[1] **iut:**
      -  a] https://services.interactive-instruments.de/t15/daraa
      -  b] https://my.url.com/v1/mydata

I went through the implementation again found some pointers which are used for test execution.

1. We get langindgPage information by using `iut[1]` and the test suite will assign `href` value to `apiUrl` from `rel : service-desc`.
2. The response of `apiUrl` will set to `API_MO

[2020-09-17 14:02] keshav-nangare commented on #116
@dstenger

As per our discussion, I have updated the test and now it throws an exception.

![image](https://user-images.githubusercontent.com/14732650/93481641-66f5b280-f91c-11ea-9d46-0dbb5171a9bc.png)

The changes are pushed to the same PR.

[2020-09-18 18:05] dstenger commented on #117
Your last screenshot shows the most common case which is described by first approach of https://github.com/opengeospatial/ogcapi-features/issues/427.
The servers object contains the url to the landing page and that leads to a path of "/" to retrieve the landing page.

[2020-09-21 14:59] keshav-nangare commented on #117
@dstenger

I have updated tests to retrieve the remaining path from the match of `iut` and the `server url`, so changes tested successfully with provided service and pushed into the same branch.

[2020-09-28 10:59] ghobona opened #123 "Test suite runs out of memory for some implementations"
Please see attached. We need to adjust the limit down from 5000 to a smaller number (e.g. 100).

Please use this service to test https://demo.ldproxy.net/vineyards

![Screenshot 2020-09-28 at 11 55 07](https://user-images.githubusercontent.com/18121038/94424290-e2a7f880-0181-11eb-86d0-de1f7afdb742.png)

[2020-09-29 14:40] dstenger opened #124 "Implement tests for OGC API - Features - Part 4: Simple Transactions"
Current status of spec: http://docs.opengeospatial.org/DRAFTS/20-002.html

[2020-09-29 14:42] dstenger commented on #124
Branch: https://github.com/opengeospatial/ets-ogcapi-features10/tree/September-2020-OGC-API-Sprint

[2020-09-29 14:55] dstenger commented on #124
Tasks:

- [ ] Create/write abstract tests (we might start with a limited number of abstract tests).
- [ ] Integrate new conformance class into existing test suite.
- [ ] Implement new executable tests.

[2020-10-01 06:05] b4l opened #125 "URL path construction is not working if root is of form localhost:port"
When having a root of the form http://localhost:XXXX the conformance test request resolves to http://localhost:XXXX/%2F%2Fconformance.

[2020-10-01 11:46] dstenger commented on #125
Thank you for reporting.

@keshav-nangare Can you please analyse the reported issue?

[2020-10-01 16:12] keshav-nangare commented on #123
Fixed with #126 PR.

[2020-10-07 09:01] dstenger commented on #125
@b4l So, the error occurs when the landing page is located at http://localhost:XXXX without using a context path? Is that correct?

[2020-10-07 09:16] b4l commented on #125
yes

[2020-10-08 18:19] #105 closed

[2020-10-08 18:28] #106 closed

[2020-10-08 18:32] #111 closed

[2020-10-08 18:35] #116 closed

[2020-10-09 12:49] #123 closed

[2020-10-09 12:55] #121 closed

[2020-10-09 13:13] #117 closed

[2020-10-21 11:36] ghobona opened #127 "Add support for OGC API - Features - Part 2: Coordinate Reference Systems by Reference"
[OGC API - Features - Part 2: Coordinate Reference Systems by Reference](http://docs.opengeospatial.org/DRAFTS/18-058.html) has passed its TC vote.

Please extend the ETS to include conformance tests from Part 2.

[2020-10-21 16:33] #107 closed

[2020-12-22 11:47] keshav-nangare opened #128 "Add template to get an XML/JSON response via rest endpoint"
Please see opengeospatial/cite#56

[2021-01-11 10:54] keshav-nangare commented on #125
I tried to configure the root path as localhost:port of local GeoServer using proxy but the first request is sent using that whereas other all requests are sent similarly as per the local Geoserver deployment.

[2021-01-11 12:05] keshav-nangare commented on #128
Fixed with #130 PR.

[2021-01-18 18:17] keshav-nangare commented on #125
Following is my workaround:
1. I am able to configure the server such that `http://localhost:8081/geoserver/ogc/features/`(Base_path) is accessed using the `http://localhost:8082` endpoint.
2. I checked further requests are sent as `{Base_path}/api` or `{Base_path}/conformance` because these links are fetched from the {Base_path} endpoint as per implementation.

[2021-01-20 10:45] dstenger commented on #125
@b4l Is it possible that you provide the OpenAPI document which is causing the error?

[2021-01-20 10:59] b4l commented on #125
@dstenger here is the yaml api doc as text file: [ogcapi-features-1.txt](https://github.com/opengeospatial/ets-ogcapi-features10/files/5841863/ogcapi-features-1.txt)

[2021-01-21 12:56] keshav-nangare commented on #125
@dstenger

I went through this document and it looks good. Maybe we can discuss it in the next meeting.

[2021-01-21 21:51] jerstlouis opened #131 "Failure to handle relative links"
My understanding is that links to OGC API resources should follow RFC 8288 ( https://tools.ietf.org/html/rfc8288 ) and RFC 3986 ( https://tools.ietf.org/html/rfc3986 ) allowing for relative links.
However the test seems to require absolute links and not be able to resolve relative links to the different resources (e.g. the /api, /conformance, /collections, /items).

[2021-01-21 21:52] jerstlouis opened #132 "Confusing report of missing datetime parameter as `time` rather than `datetime`"
When the datetime query parameter on /items is missing, this is confusingly being reported as the "time" query parameter missing. (the requirement is called /req/core/fc-time-definition, even though the parameter is datetime)
The Abstract test cited is also not aligned with the latest standard as it reports Abstract Test 14 but this is currently Abstract Test 18.

[2021-01-21 21:57] jerstlouis opened #133 "Wrong construction of feature path for implementations using file extensions"
The rules on how the test construct individual Feature requests are not clear and seem to not support ".{extension}" paths.
It does not seem to be using the OpenAPI description path "/collections/{collectionId}/items/{featureId}" but seems to be using the "items" relation type link which we had as
"https://maps.ecere.com/ogcapi/collections/NaturalEarth:cultural:ne_10m_admin_0_countries/items.json"

[2021-01-21 21:59] jerstlouis opened #134 "Noisy many "Tests skipped" when only some of the collections support the Features API, timeStamps"
In light of the resolution of the big Collections discussion ( https://github.com/opengeospatial/ogcapi-common/issues/140 ), where some of the collections of a dataset could be accessible as _Features_, some as _Coverages_, and some as both, there should probably be an "early skip" without the noise for Collections not offering "items".
e.g. if I set a max number of collections to test to 5, the f

[2021-01-21 22:46] jerstlouis opened #135 "Production (1.0) test fails on GC overhead limit exceeded"
The production (1.0) version of the test (https://cite.opengeospatial.org/teamengine/) fails on _"GC overhead limit exceeded"_, sometimes on the conformance classes, sometimes on the API, while with the Beta (1.1) version (https://cite.opengeospatial.org/te2/) our implementation passes the Features Core conformance class successfully.

Testing with https://maps.ecere.com/ogcapi and _noOfCollection

[2021-01-25 11:20] dstenger commented on #131
Thank you for reporting.

You are probably referring to the path section of the OpenAPI document?
The test suite should be capable to resolve relative links there.

Can you please describe your problem more in detail? Is a test service available to reproduce your problem?

[2021-01-25 11:23] dstenger commented on #132
Thank you for reporting.

@keshav-nangare Can you please adjust the test to the latest version of the standard?

[2021-01-25 13:04] jerstlouis commented on #131
@dstenger No, I am referring to links in the different JSON document of the API itself, not its OpenAPI definition.

e.g. on the landing page (links to the /api, /conformance and /collections), and on the collection description pages (links to items).

The service in question has been tweaked to use absolute paths where the test suite was not able to handle relative links, but we could revert to r

[2021-01-25 15:44] dstenger commented on #133
Thank you for reporting.

We will analyze the reported behavior.

[2021-01-25 15:49] dstenger commented on #133
I agree that https://maps.ecere.com/ogcapi/collections/NaturalEarth:cultural:ne_10m_admin_0_countries/items.json/1 should not be constructed by the test suite.

Did you change the server behind this URL? Now, it seems to look different.

[2021-01-25 15:52] jerstlouis commented on #133
@dstenger yes, in order to pass the tests we have switched to `?f=json` instead of `.json` until this issue is resolved.

[2021-01-27 14:31] keshav-nangare commented on #132
@dstenger

I have updated the test description as per the latest version of the standard and error message. Please find the changes in #136 PR.

[2021-01-27 18:37] dstenger commented on #134
Thank you for the input.

Can you provide a test service which is causing much noise/ is long running?

[2021-01-27 18:40] dstenger commented on #135
Thank you for reporting.

@keshav-nangare Can you please try to reproduce the reported behavior? Afterwards, we can discuss about a solution.

[2021-01-27 18:47] jerstlouis commented on #134
@dstenger http://maps.ecere.com/ogcapi with noOfCollections = 5.
It will show Skip = 45 with skip messages like:

org.testng.SkipException: Property timeStamp is not set in collection items 'NaturalEarth:cultural:ne_10m_admin_0_antarctic_claims'
org.testng.SkipException: Could not find collection with id NaturalEarth:raster:HYP_HR_SR_OB_DR in the OpenAPI document
org.testng.SkipException: Could no

[2021-01-28 09:54] ghobona commented on #134
So in pseudo code, it would be.

[code]

[2021-01-28 10:06] cportele commented on #134
@ghobona - Since this is the ETS for Features and not for, e.g., Records, also inspect the `itemType`, if there is an `items` link. If the property is present and has a value that is not "feature", ignore that collection, too.

[2021-02-04 09:45] dstenger commented on #132
@keshav-nangare Can you please also update the numbers of referenced abstract tests for all tests? Please use the ATS of the specification for that: http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_abstract_test_suite_normative

[2021-02-04 10:40] dstenger commented on #135
@keshav-nangare Can you please also test with version 1.0 on Docker?

[2021-02-04 11:00] dstenger commented on #134
@keshav-nangare Can you please update the implementation regarding the proposed solutions?

[2021-02-04 11:32] keshav-nangare commented on #135
@dstenger I tried on docker and it is working fine.

[2021-02-05 14:09] heidivanparys opened #137 "Support for API keys via query"
The test suite does not seem to take into account that the API may have implemented security by means of an API key via a query.

E.g. the Oceanographic Observation API by the Danish Meteorological Institute:

- landing page: https://dmigw.govcloud.dk/v2/oceanObs/
- service description: https://confluence.govcloud.dk/pages/viewpage.action?pageId=41716220
- see https://confluence.govcloud.dk/pages/

[2021-02-05 14:48] dstenger commented on #137
When I construct the path manually https://dmigw.govcloud.dk/v2/oceanObs/conformance I get a 403 as response.
Thus, it seems that the API key is missing.

Currently, this test suite/ TEAM Engine are not supporting an API key.
If I understand you correctly, there must be an user input field to pass a valid API key to the test suite?

[2021-02-05 17:18] heidivanparys commented on #137
I don't know what the best way to handle this would be. And I don't know how many other security schemes the ETS is reasonably should be able to handle (@cportele is that a discussion for the SWG?).

What I did so far, is supply the API key as part of the IUT:

![image](https://user-images.githubusercontent.com/11427611/107066062-c5450400-67dd-11eb-8cb1-24f838683b35.png)

So in the same way as I d

[2021-02-05 18:45] dstenger commented on #137
Thank you for your input. We will discuss this in the CITE team.

[2021-02-08 05:48] keshav-nangare commented on #132
I have updated the description of tests according to the document referred in the above comment. Please find the changes in the same PR.

[2021-02-08 09:22] cportele commented on #137
It would be nice to have examples for typical cases of security schemes - not as part of the standard, but separately, e.g. in the Guide. If someone would provide a draft I am sure the SWG would look at it and see how this could be published.

[2021-02-08 10:02] ghobona commented on #137
Support for API keys is not currently supported by the ETS. However, @securedimensions recently guided the security aspects of the September 2020 OGC API code sprint. He might know of examples of implementations of different security schemes in OGC APIs.

Support for security schemes is something that we would like to support in TEAM Engine.

[2021-02-10 13:43] keshav-nangare commented on #132
Following tests are not have implemented:
1. Abstract Test 2
2. Abstract Test 15 (Partial implemented)
3. Abstract Test 22 (Method 3 and 8)
4. Abstract Test 30-43

[2021-02-11 09:27] ghobona commented on #125
2021-02-11

@keshav-nangare to try reproducing the issue through a [GWT Proxy](https://github.com/geosdi/GWT-OpenLayers/blob/master/gwt-openlayers-server/src/main/java/org/gwtopenmaps/openlayers/server/GwtOpenLayersProxyServlet.java) modification.

[2021-02-11 09:35] ghobona commented on #133
2021-02-11

@jerstlouis @pvretano the standard states that the path is `/items` and not `/items.json`. The API definition also clearly states that the path is `/items`. Therefore, the test suite is correct in expecting the implementation to be `/items`.

[2021-02-11 09:57] dstenger commented on #135
Production will be updated to version 1.1 in summer.
Until then, Beta can be used to validate big collections.

[2021-02-11 09:57] #135 closed

[2021-02-11 13:24] jerstlouis commented on #133
@ghobona What the test suite was trying to access is `https://maps.ecere.com/ogcapi/collections/NaturalEarth:cultural:ne_10m_admin_0_countries/items.json/1`

The standard is supposed to allow different representations using different approaches, including an `f=` query parameter, or a file extension (as is practical for example for a static server that you would want to host on AWS S3).

See resol

[2021-02-12 10:27] ghobona commented on #133
@jerstlouis I now see where the source of the issue is.

[Example 10](http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_response_6) in the spec actually supports your approach. We'll update the ETS to support such URLs. Thanks.

[2021-02-12 10:34] ghobona commented on #18
Implementation pending in [org.opengis.cite.ogcapifeatures10.collections.FeaturesBBox.validateFeaturesWithBoundingBoxResponse](https://github.com/opengeospatial/ets-ogcapi-features10/blob/master/src/main/java/org/opengis/cite/ogcapifeatures10/collections/FeaturesBBox.java#L178)

[2021-02-12 10:38] ghobona commented on #19
Implementation pending at [org.opengis.cite.ogcapifeatures10.collections.FeaturesTime](https://github.com/opengeospatial/ets-ogcapi-features10/blob/master/src/main/java/org/opengis/cite/ogcapifeatures10/collections/FeaturesTime.java#L183)

[2021-02-12 10:39] ghobona commented on #102
Not necessary

[2021-02-12 10:39] #102 closed

[2021-02-12 10:47] keshav-nangare commented on #134
I have added check to collect collection if the `itemType` is `feature` or it is absent but it must have `"rel" : "items"`. Please find the changes in #138 PR.

[2021-02-12 14:11] jerstlouis commented on #133
@ghobona The root of the issue though in my opinion is a limitation/missing requirement in the _Features_ specs.
The only way that the test suite would be able to generate such a link is if the specs better defined the `"item"` relation type allowing for a templated reference, as we are now doing in our server with:

[code]

 (though right now it uses `?f=json`)

But the _Features_ specs only ment

[2021-02-12 14:18] jerstlouis commented on #134
About FeatureCollections without timeStamp, could this "test skipped" appear only once maybe, if none of the collections have a `"timeStamp"` property?

[2021-02-12 14:55] cportele commented on #133
There is nothing missing in the spec, AFAICT. The test suite can create a request to `https://maps.ecere.com/ogcapi/collections/NaturalEarth:cultural:ne_10m_admin_0_countries/items/{featureId}` with an `Accept: application/geo+json` header. No need for the server to support format-specific URIs or for the client to know them.

[2021-02-12 15:07] jerstlouis commented on #133
@cportele At the very least that's not clearly communicated, but my understanding of the issue 12 resolution was that it accommodated that... What you described already worked in our server, but that's not what how the TEAM engine ended up doing.

See for example _Example 11. Links_ in 7.16.2
http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_response_7

[code]

[2021-02-12 15:25] cportele commented on #133
It is clearly stated, see http://docs.opengeospatial.org/DRAFTS/17-069r4.html#encodings.

Where there is an explicit link, that can be directly resolved, too, but guessing URLs is not safe - nor is it needed.

Yes, unless the test suite is following an explicit link returned by the API, that is of course valid, too.

I do not see it as a hole:

- The URI template is already specified in the standa

[2021-02-16 21:37] dstenger commented on #112
Actually, after having applied your fix, the unit tests should not be executed when running the TestNG tests via an IDE.

Can you please check and confirm if there are any open questions?

[2021-02-18 09:59] ghobona commented on #134
2021-02-18 meeting

@ghobona discussed the ["test skipped"](https://github.com/opengeospatial/ets-ogcapi-features10/issues/134#issuecomment-778222774) suggestion with @dstenger and @keshav-nangare , and there was agreement that there is need to maintain the current approach of testing the `timeStamp` property on each collection.

[2021-02-18 10:25] dstenger commented on #133
Unfortunately, we cannot reproduce the behavior anymore. Thus, I propose to close this issue for now.
@jerstlouis If this behavior is very important for you and should be fixed, can you please provide a test service again?

[2021-02-18 15:16] jerstlouis commented on #134
@ghobona To clarify, my suggestion was to test the `timeStamp` property on all collections that do have it, but report only once that tests were skipped on the n collections that don't have it, so that you don't end up with 960 "test skipped" if you test 1000 collections and only 40 have a `timeStamp`.

[2021-02-18 15:17] jerstlouis commented on #133
@dstenger Yes this is very important to fix in the test suite. I can revert our test service to feature the problem again, providing this is OK with the compliance program? (we did get our compliance status) @ghobona

[2021-02-18 15:18] jerstlouis commented on #131
@dstenger I can revert our test service to feature the problem again, providing this is OK with the compliance program? (we did get our compliance status) @ghobona

[2021-02-23 07:54] heidivanparys commented on #112
I have no more open questions, thanks for following up.

[2021-02-23 17:17] #112 closed

[2021-02-25 09:22] ghobona commented on #131
Upon closer reflection, this issue appears to be resolved. The service was modified to comply with the test and a certificate has been issued. So I am proceeding to close the ticket.

[2021-02-25 09:31] jerstlouis commented on #131
@ghobona The issue is not resolved.
This is an important issue, clients should be able to handle relative links, as Common requires compliance with [IETF RFC 8288, Web Linking](http://tools.ietf.org/rfc/rfc8288.txt).

I will "unfix" the server so that this can be addressed.

[2021-02-25 11:15] ghobona commented on #131
@keshav-nangare

The Relative Resolution algorithm is described in [Section 5.2](https://tools.ietf.org/html/rfc3986#section-5.2) of RFC 3986.

[2021-03-01 09:40] keshav-nangare commented on #131
@jerstlouis

Can you please provide the service?

[2021-03-01 11:59] ghobona opened #140 "Implement test for Abstract Test 2 /ats/core/crs84"
http://docs.ogc.org/is/17-069r3/17-069r3.html#_crs_84

[2021-03-01 12:03] ghobona commented on #140
Also linked to Abstract Test 10. Some initial code for Abstract Test 10 is [here](https://github.com/opengeospatial/ets-ogcapi-features10/blob/24d39d2e758234a9d8db36ba71de37f75051d81f/src/main/java/org/opengis/cite/ogcapifeatures10/collections/FeatureCollections.java#L174).

[2021-03-01 13:36] ghobona opened #141 "Implement test to validate that the required links are included in the Collections document"
Implement Abstract Test 23 to "Validate that the required links are included in the Collections document"

[2021-03-01 13:53] ghobona commented on #141
Could be implemented with fixes for:

* https://github.com/opengeospatial/ets-ogcapi-features10/issues/18
* https://github.com/opengeospatial/ets-ogcapi-features10/issues/19

[2021-03-01 20:02] dstenger opened #142 "Implement Abstract Test 22 (Method 3 and 8)"

[2021-03-01 20:03] dstenger commented on #132
Abstract Test 2 -> Covered by https://github.com/opengeospatial/ets-ogcapi-features10/issues/140
Abstract Test 15 (Partial implemented) -> Covered by https://github.com/opengeospatial/ets-ogcapi-features10/issues/18
Abstract Test 22 (Method 3 and 8) -> Covered by https://github.com/opengeospatial/ets-ogcapi-features10/issues/142
Abstract Test 30-43 -> Covered by #97, #98, #99, #100 and #101

[2021-03-02 05:45] jerstlouis commented on #131
@keshav-nangare I have reverted to relative links (as well as to an extension for items as per #133) on our service so that this can be tested.
https://maps.ecere.com/ogcapi.
Thank you for looking into this issue!

[2021-03-02 05:46] jerstlouis commented on #133
@dstenger @keshav-nangare I have reverted to an extension for items (as well as to relative links as per #131) on our service so that this can be tested.
https://maps.ecere.com/ogcapi.
Thank you for looking into this issue!

[2021-03-02 14:01] #134 closed

[2021-03-02 14:07] dstenger commented on #134
@jerstlouis Can you please open a new issue if the skip behavior of the timeStamp tests shall be improved?

[2021-03-02 14:13] #132 closed

[2021-03-02 23:48] jerstlouis opened #143 "Produce a single "tests were skipped" for multiple collections not having a timeStamp property"
Test the presence of a `timeStamp` property on all collections that do have it, but report only once that tests were skipped on the n collections that don't have it, so that you don't end up with 960 "test skipped" if you test 1000 collections and only 40 have a timeStamp.

[2021-03-02 23:48] jerstlouis commented on #134
@dstenger done: https://github.com/opengeospatial/ets-ogcapi-features10/issues/143
Thanks.

[2021-03-03 15:08] #128 closed

[2021-03-04 09:23] keshav-nangare commented on #131
Updated test suite to handle relative links as per the Relative Resolution algorithm is described in [Section 5.2](https://tools.ietf.org/html/rfc3986#section-5.2) of RFC 3986. Please find the changes in #145 PR.

[2021-03-04 09:45] jerstlouis commented on #131
@keshav-nangare Would this also handle relative link fragments like `../` to go one level up, or `./` to start from the current resource?

[2021-03-08 10:41] ghobona opened #146 "OpenAPI 3.0.3 and out of memory error"
The ETS appears to run out of memory when processing the new new daraa dataset, which uses OpenAPI 3.0.3

https://demo.ldproxy.net/daraa

However, the Testbed-15 implementation still works with https://services.interactive-instruments.de/t15/daraa, which uses OpenAPI 3.0.2

[2021-03-08 10:42] ghobona commented on #146
Cc: @dstenger @cportele

[2021-03-08 10:50] cportele commented on #146
I just executed a test run in the IDE and there were no such errors on my machine. So I do not think, it is a general 3.0.3 issue.

[testng-results.txt](https://github.com/opengeospatial/ets-ogcapi-features10/files/6100802/testng-results.txt)

[2021-03-08 14:17] ghobona commented on #146
@cportele Ok, thanks. We'll continue to look into the issue.

[2021-03-08 15:01] dstenger commented on #146
@keshav-nangare

Can you please try to reproduce the behavior on following environments?
- https://cite.opengeospatial.org/te3/
- Docker

If you can reproduce it, can you please do a first code analysis to identify the root cause?

[2021-03-10 11:06] dstenger commented on #146
@keshav-nangare

Can you please also test it on https://cite.opengeospatial.org/te2/ as well?

Please document your results in this issue.

[2021-03-10 11:39] ghobona commented on #18
@keshav-nangare

Verified using OpenAPITools Generator that bbox is supposed to be structured like:

[code]

So the ETS should be enabled to handle this.

[2021-03-10 12:42] keshav-nangare commented on #146
@dstenger @ghobona

I am able to reproduce the issue on https://cite.opengeospatial.org/te2/. I will take look into it.

[2021-03-10 13:43] keshav-nangare commented on #133
@dstenger @ghobona

I have updated the test suite to handle ".{extension}" path.
eg.
If the link is of type `/collections/{collectionId}/items.{extension}` will be converted into `/collections/{collectionId}/items/{featureId}.{extension}`.

[2021-03-10 13:57] jerstlouis commented on #133
@keshav-nangare Because Features does not make use of templated links (we included one now with `item` rel, but that is not specified in the standard), I think the only thing a client (including the test suite) can reliably test/use is access the standard fixed path (`/collections/{collectionId}/items/{featureId}`), and use content negotiation (`Accept: header`) to select an accepted format (e.g.

[2021-03-11 06:04] keshav-nangare commented on #18
Thanks, @ghobona, I will update ETS for the same.

[2021-03-11 08:26] keshav-nangare commented on #131
@dstenger @ghobona

I have verified the changes with the service https://maps.ecere.com/ogcapi. According to the service implementation, it supports the "/" path present in the href element. Please check below for reference:

![image](https://user-images.githubusercontent.com/14732650/110757362-50983600-8271-11eb-97a3-c82bf6dc359e.png)

[2021-03-11 08:40] jerstlouis commented on #131
@keshav-nangare Sure on our service the relative links start at the root of the service, but for testing compliance of an arbitrary service, the resolution algorithm should fully support any kind of relative links as defined by RFC 3986, and an OGC API client should be ready to resolve any kind of relative links (unless we otherwise decide to impose limitations in this regard and clarify that in _

[2021-03-12 10:17] cportele commented on #133
Yes

[2021-03-12 16:18] afasseco opened #148 "Docker image on dockerhub is 5 months old"
Hi

Thanks for excellent test suite for testing OGC services. This has helped us a great deal during development.

We're starting to use these tests during our build pipeline and we've noticed that the latest image on dockerhub is kinda old:

https://hub.docker.com/r/ogccite/ets-ogcapi-features10/tags?page=1&ordering=last_updated (5 months currently).

Since I can see activity in this repo in the

[2021-03-12 17:00] dstenger commented on #148
Hi,

We are pushing new Docker Images when we are creating a new release of the test suite.
As the latest release is 5 month old (https://github.com/opengeospatial/ets-ogcapi-features10/tree/1.1), the currently uploaded Image is the correct one.

However, if you you are interested in building a newer Image with the current developer version, you can always build it by yourself:
* Clone this reposi

[2021-03-15 08:23] afasseco commented on #148
Hi

That makes complete sense. I just assumed that the commits since last release would be grounds for a release but I understand your point.

Thanks for the image building instructions - we will use this in case the the master branch has something not released yet.

I will close this issue thanks for feedback.

[2021-03-15 08:23] #148 closed

[2021-03-17 10:00] ghobona commented on #131
@jerstlouis

The original issue has been fixed. Every executable test suite has to impose some limitations because we have finite resources.

After merging the PR, we will close this issue (131) and it can be re-opened in the future if any developers volunteer to extend the URL resolution functionality.

[2021-03-24 09:59] dstenger commented on #146
Can you please try to limit the memory of the Docker Container to 1GB and 2GB and try to reproduce the issue on your local machine again?

[2021-03-25 11:55] keshav-nangare commented on #146
I tried by limiting the memory of the Docker Container as per the above suggestion but unable to reproduce it. I tried with the 600 MB memory but still it is working fine in docker environment. You can check the below screenshot for the memory limit and used memory.

![Untitled](https://user-images.githubusercontent.com/14732650/112468689-96372180-8d8e-11eb-983d-ff1ac4d584fa.png)

[2021-04-07 11:26] keshav-nangare commented on #18
The `parseSpatialExtent` method updated to trigger the unimplemented test. Please find the changes in #149 PR.

[2021-04-07 11:30] keshav-nangare commented on #19
The `parseTemporalExtent` method updated to trigger the unimplemented test. Please find the changes in #150 PR.

[2021-04-28 19:47] #131 closed

[2021-05-04 11:32] ghobona commented on #127
Agenda

* Introductions
* Confirm how the deliverable will be completed
* - Extension of existing ETS, as a separate a branch
* Timetable / schedule
* Risks (go through ATS and plan ahead for any potential risks/problems)

[2021-05-17 12:40] dstenger opened #151 "Implement tests of "A.1. Discovery" of Part 2"
[A.1. Discovery](https://docs.opengeospatial.org/is/18-058/18-058.html#_discovery) contains:

- [x] Abstract Test 1 | /conf/crs/crs-uri
- [x] Abstract Test 2 | /conf/crs/default-crs
- [x] Abstract Test 3 | /conf/crs/storageCrs

Reference: [OGC API - Features - Part 2: Coordinate Reference Systems by Reference, Version: 1.0, Publication Date:  2020-11-02](https://docs.opengeospatial.org/is/18-058/1

[2021-05-17 12:43] dstenger opened #152 "Implement tests of "A.2.1. Parameter crs" of Part 2"
[A.2.1. Parameter crs](https://docs.opengeospatial.org/is/18-058/18-058.html#_parameter_crs_2) contains:

- [x] Abstract Test 4 | /conf/crs/crs-parameter
- [x] Abstract Test 5 | /conf/crs/crs-parameter-invalid
- [x] Abstract Test 6 | /conf/crs/crs-parameter-default
- [x] Abstract Test 7 | /conf/crs/crs-parameter-transform

Reference: [OGC API - Features - Part 2: Coordinate Reference Systems by Re

[2021-05-17 12:46] dstenger opened #153 "Implement tests of "A.2.2. Parameter bbox-crs" of Part 2"
[A.2.2. Parameter bbox-crs](https://docs.opengeospatial.org/is/18-058/18-058.html#_parameter_bbox_crs_2) contains:

- [x] Abstract Test 8 | /conf/crs/bbox-crs-parameter
- [x] Abstract Test 9 | /conf/crs/bbox-crs-parameter-invalid
- [x] Abstract Test 10 | /conf/crs/bbox-crs-parameter-default

Reference: [OGC API - Features - Part 2: Coordinate Reference Systems by Reference, Version: 1.0, Publicati

[2021-05-17 12:48] dstenger commented on #127
Implementation issues:

- https://github.com/opengeospatial/ets-ogcapi-features10/issues/151
- https://github.com/opengeospatial/ets-ogcapi-features10/issues/152
- https://github.com/opengeospatial/ets-ogcapi-features10/issues/153

[2021-05-17 19:41] ghobona commented on #146
Closing this ticket because Production and Beta TEAM Engine instances appear to work fine with https://demo.ldproxy.net/daraa

[2021-05-17 19:41] #146 closed

[2021-05-18 04:49] lgoltz opened #154 "Prepare ETS of Part 2"
* [x] Prepare OGC API ETS
 * [x] Execute Part 2 if requirement class http://www.opengis.net/spec/ogcapi-features-2/1.0/req/crs is supported ([6. Requirements Class Coordinate Reference Systems by Reference](https://docs.opengeospatial.org/is/18-058/18-058.html#_conventions_and_background))

Reference: [OGC API - Features - Part 2: Coordinate Reference Systems by Reference, Version: 1.0, Publicatio

[2021-05-18 04:51] lgoltz opened #155 "Enhance ETS documentation - Part 2"
* [ ] Enhance documentation: https://github.com/opengeospatial/ets-ogcapi-features10/tree/master/src/site

Reference: [OGC API - Features - Part 2: Coordinate Reference Systems by Reference, Version: 1.0, Publication Date:  2020-11-02](https://docs.opengeospatial.org/is/18-058/18-058.html)

[2021-05-18 11:02] dstenger commented on #127
Meeting 2021-05-18:

- Limitation of tested features to e.g. 100 (should be configurable via properties file).
- Possible risks:
  - Possible libraries to execute CRS related operations: geotoolkit (geomatics-geotk), apache-sis, proj
  - Decision: Go with geotoolkit (geomatics-geotk), if there are any blocking problems, proj might be an alternative.
    - Reason: Other test suites use geotoolkit (

[2021-05-18 12:28] dstenger commented on #127
Branch for development of tests: https://github.com/opengeospatial/ets-ogcapi-features10/tree/part2

[2021-05-20 19:26] #133 closed

[2021-05-21 14:21] dstenger commented on #127
Items to discuss in next meeting:
- Can we use Jenkins of OGC CITE team?

[2021-05-24 11:15] ghobona commented on #67
Closing this issue because we now use the OGC API - Features test suite as a starting point for developing ETS's of other OGC APIs. We have done so for the Tiles, EDR and Processes APIs.

[2021-05-24 11:15] #67 closed

[2021-05-25 09:36] dstenger opened #156 "Enhance integration tests"

[2021-05-25 10:06] dstenger opened #157 "Update Maven dependencies"
Some Maven dependencies are outdated and shall be updated to the current version.

[2021-05-25 10:39] dstenger commented on #127
Meeting 2021-05-25:

Yes, we can use the Jenkins of OGC CITE team.

[2021-05-25 11:03] lgoltz commented on #154
**Prepare OGC API ETS**
Restructured packages: https://github.com/opengeospatial/ets-ogcapi-features10/commit/a5cec66b07ec00929aaafa071135f3ab64665166

**Execute Part 2 if requirement class http://www.opengis.net/spec/ogcapi-features-2/1.0/req/crs is supported**
Added precondition test: https://github.com/opengeospatial/ets-ogcapi-features10/commit/93a433c6d14cd3ef11a1cf3c07f87024b4c0e600

The Tes

[2021-05-27 12:11] lgoltz commented on #151
Implementation: https://github.com/opengeospatial/ets-ogcapi-features10/commit/7497d35efeb642455cc0558e863a060de097b0b2

[2021-05-31 08:31] lgoltz commented on #151
Implementation: https://github.com/opengeospatial/ets-ogcapi-features10/commit/29dfc222bb7f26affd74b0b0fc04e8a4ab6b3749

If the crs list is referenced in a collection object in the path /collections (with '#/crs') the test of the collection in the path /collections is skipped.

[2021-05-31 12:36] lgoltz commented on #151
Implementation: https://github.com/opengeospatial/ets-ogcapi-features10/commit/34e718bd33a7b43e7a24312d625c0358695fccfc

[2021-05-31 18:39] dstenger commented on #156
Integration tests were created and can be run with `mvn clean verify -Pintegration-tests`.

Commit: https://github.com/opengeospatial/ets-ogcapi-features10/commit/243a647f8ebb7b5b05b7e7cec30c87a347545b94

[2021-06-01 09:43] lgoltz commented on #152
Implementation: https://github.com/opengeospatial/ets-ogcapi-features10/commit/8335933afd1113bcdffe2bd553e14ec24b83d2ac, https://github.com/opengeospatial/ets-ogcapi-features10/commit/f312cd13a9066e1d2d214ef666724ea8b580af1c, https://github.com/opengeospatial/ets-ogcapi-features10/commit/8a191be3556df0dfa448b7ed00ba466beb9e589e

Implementation: https://github.com/opengeospatial/ets-ogcapi-features

[2021-06-01 09:46] dstenger commented on #154
Test shows that new conformance class is listed in the HTML report of TEAM Engine.
Also, https://demo.ldproxy.net/daraa can be used to execute the first implemented tests.

[2021-06-01 09:46] #154 closed

[2021-06-01 10:05] lgoltz commented on #152
Implementation: https://github.com/opengeospatial/ets-ogcapi-features10/commit/4749d9b356076dfe7e28536c1bd6b00409eb04e5

[2021-06-01 12:16] dstenger commented on #127
**Meeting 2021-06-01**

* lat/lon checks https://github.com/opengeospatial/ets-ogcapi-features10/issues/140 as it is also related to CRS.

[2021-06-01 15:48] dstenger commented on #157
Execution of `mvn org.apache.maven.plugins:maven-dependency-plugin:analyze`:
[code]

Unused declared dependencies are actually needed for build.
Used undeclared dependency was added: https://github.com/opengeospatial/ets-ogcapi-features10/commit/b4d0f6664d21220858202f886edee2c8ab04897f

[2021-06-01 16:58] dstenger commented on #157
Updated dependencies jersey-core, rest-assured and jcommander and removed json-path: https://github.com/opengeospatial/ets-ogcapi-features10/commit/24fed17d58ad2391d8c9781b98866acb3397639d

rest-assured might even be updated to v4.

[2021-06-01 17:34] dstenger commented on #151
All tests are implemented.
Functional testing was done with https://demo.ldproxy.net/daraa.

[2021-06-01 17:34] #151 closed

[2021-06-07 12:36] lgoltz commented on #152
It is required to parse the geometry from the GeoJson response. JTS provides a GeoJsonReader since ~[1.15](https://github.com/locationtech/jts/blob/master/doc/JTS_Version_History.md#version-115) https://github.com/locationtech/jts/blob/master/modules/io/common/src/main/java/org/locationtech/jts/io/geojson/GeoJsonReader.java

[2021-06-08 11:07] dstenger commented on #152
**Meeting 2021-06-08**

* Update of JTS
  * JTS can be updated in geomatics-geotk project.
  * 4 test suites are using geomatics-geotk: https://github.com/search?l=Maven+POM&q=geomatics-geotk&type=Code
  * Afterwards, the four other test suites must be checked and updated as well.

[2021-06-09 08:29] lgoltz commented on #152
Update of JTS in https://github.com/opengeospatial/geomatics-geotk/issues/10

[2021-06-17 05:38] lgoltz opened #158 "Spatial extent is not parsed correctly or implementation is incomplete"
Currently the spatial extent is parsed from
[code]
Parsing the example from https://docs.ogc.org/is/17-069r3/17-069r3.html results to null:
[code]

[2021-06-17 06:39] lgoltz commented on #158
Branch: https://github.com/opengeospatial/ets-ogcapi-features10/tree/fixParsingSpatialExtent-158
Commit: https://github.com/opengeospatial/ets-ogcapi-features10/commit/179cdacac256f64c222e9ef90508a55408adf6f2

[2021-06-21 14:07] dstenger commented on #127
To discuss:
- Limit feature related tests to exactly one feature?

[2021-06-22 08:16] dstenger commented on #127
Decisions made in meeting 2021-06-22:

Limit to one feature is fine as this approach was also used in implementation of Part 1.

Using proj4j is fine and was already evaluated.

[2021-06-23 05:57] lgoltz commented on #153
All tests are implemented as specified in the abstract test suite.

[2021-06-23 07:31] lgoltz commented on #152
All test implemented as specified in the abstract test suite.

[2021-06-23 08:14] lgoltz commented on #156
Soap UI tests are currently failing. Some erros are logged:
[code]

[2021-06-23 08:17] lgoltz commented on #157
The update of jcommander causes a failure if the tests are executed with IntelliJ:
[code]

Fixed with https://github.com/opengeospatial/ets-ogcapi-features10/commit/679284841e9d914328b9279127c7a1aaa28ca455

[2021-06-23 08:28] lgoltz commented on #155
Limitiations:

* Exactly on feature is tested
* Abstract Tests 7, 8, 10: Transformation is supported for all CRSs starting with urn:ogc:def:crs:EPSG or http://www.opengis.net/def/crs/EPSG

[2021-06-23 08:53] dstenger commented on #155
Documentation was enhanced to reference Part 2 as well: https://github.com/opengeospatial/ets-ogcapi-features10/commit/8aa787502418179fb6b78489eee38605b6575a92

[2021-06-23 11:18] #158 closed

[2021-06-23 11:57] dstenger commented on #155
Add CRS specific test requirement to documentation: https://github.com/opengeospatial/ets-ogcapi-features10/commit/bf0b2f03b25e912d6a743fdfd594db322de8eed9

[2021-06-23 11:59] dstenger commented on #155
I propose to document the limitations in the JavaDoc instead of user documentation.

[2021-06-23 17:19] dstenger commented on #156
The properties were updated: https://github.com/opengeospatial/ets-ogcapi-features10/commit/778b083d396d0af1edb82d911120608922bf08dd

As previously mentioned StackTrace does not affect the test run, I propose to ignore it for now.

[2021-06-23 17:20] dstenger opened #160 "Test implementation of Part 2"
Branch to be tested: https://github.com/opengeospatial/ets-ogcapi-features10/tree/implementPart2-127

[2021-06-23 17:26] dstenger commented on #160
# Test with https://demo.ldproxy.net/daraa

This comment contains the current status and will be updated constantly.

Two tests are failing:
verify Bbox Crs Parameter | java.lang.AssertionError: lists don't have the same size expected <br>[8] but found <br>[0]
verify Bbox Crs Parameter | java.lang.AssertionError: lists don't have the same size expected <br>[10] but found <br>[0]

Four tests are sk

[2021-06-23 17:31] dstenger commented on #160
# Test with https://oaf.lat-lon.de/deegree-services-oaf/datasets/kitaeinrichtung

This comment contains the current status and will be updated constantly.

Core tests are failing which did not fail previously. I will create new issues for that.

CRS tests are skipped as the conformance class is not listed in the conformance resource.

[2021-06-23 17:33] dstenger opened #161 "NullPointerExceptions in tests validate Features Response_ Number Returned and validate Features With Bounding Box Response_ Number Matched"
Following service was used for testing: https://oaf.lat-lon.de/deegree-services-oaf/datasets/kitaeinrichtung

NullPointerExceptions occur in tests:
* validate Features Response_ Number Returned
* validate Features With Bounding Box Response_ Number Matched

These tests are part of the Core conformance class. However, the failures are related to the implementation of Part 2 as they do not occur on

[2021-06-23 17:37] dstenger opened #162 "Test validate Features With Bounding Box Response_ Features Property fails unexpectedly"
Following service was used for testing: https://oaf.lat-lon.de/deegree-services-oaf/datasets/kitaeinrichtung

Test `validate Features With Bounding Box Response_ Features Property` fails with following message: `java.lang.AssertionError: features property is missing expected object to not be null`

This test is part of the Core conformance class. However, the failure is related to the implementati

[2021-06-23 17:56] cportele commented on #160
@dstenger - Thanks for the development. I had a quick look:

These requests state EPSG 4326 in `bbox-crs`, but then continue to use lon/lat in `bbox`, not lat/lon. This is the reason why no features are returned (which is the correct response to the request).

For the skipped tests, all the information seems to be there, so I assume the tests are not complete yet? Or is something missing in the AT

[2021-06-24 04:38] lgoltz commented on #162
The tests fails because it requests data with a spatial bbox the service provide data for:
 * -1.5000000,50.0000000,1.5000000,53.0000000
 *   -80.0000000,-5.0000000,-70.0000000,5.0000000
 *  -180.0000000,85.0000000,180.0000000,90.0000000
 *  -180.0000000,-90.0000000,180.0000000,-85.0000000

The failure is not related to the implementation of Part 2 but to the big fix #158. Before this big fix the

[2021-06-24 04:40] lgoltz commented on #161
The failure is not related to the implementation of Part 2 but to the big fix #158. Before this big fix the spatial extent could not be parsed and the failing tests was not executed.
Possible NPE was fixed: https://github.com/opengeospatial/ets-ogcapi-features10/commit/7e705cb7f306d542645c65872b2bb7c0f9f5ab6f
PR: #163

[2021-06-24 05:02] lgoltz opened #164 "Construction of feature path for implementations results in invalid URLs"
PR #147 https://github.com/opengeospatial/ets-ogcapi-features10/pull/147/files causes invalid feature URLs.
Following service was used for testing: https://oaf.lat-lon.de/deegree-services-oaf/datasets/kitaeinrichtung
Results in the following feature URL: https://oaf.lat-lon/APP_KITAEINRICHTUNGEN_1010002.de/deegree-services-oaf/datasets/kitaeinrichtung/collections/KitaEinrichtungen/items

[2021-06-24 05:36] lgoltz commented on #164
Commit: https://github.com/opengeospatial/ets-ogcapi-features10/commit/26293f3425233e0733b086c98d8de14976da1e00
Branch: https://github.com/opengeospatial/ets-ogcapi-features10/tree/fixInvalidUrls-164
Branch bases on  https://github.com/opengeospatial/ets-ogcapi-features10/tree/implementPart2-127!

[2021-06-24 09:54] #161 closed

[2021-06-24 13:09] dstenger commented on #152
All tests were implemented.

[2021-06-24 13:09] #152 closed

[2021-06-24 15:06] dstenger commented on #153
All tests were implemented correctly.

[2021-06-24 15:06] #153 closed

[2021-06-24 16:48] dstenger commented on #155
Documentation in the GUI and REST interface were updated as well:
- GUI: https://github.com/opengeospatial/ets-ogcapi-features10/commit/1b7defb9a598b70cef2ab11bf408b3bc4ab928f6
- REST interface: https://github.com/opengeospatial/ets-ogcapi-features10/commit/b4f3d5b45e92bd841a54e244bd4bd4678a489392

[2021-06-28 19:27] ghobona commented on #160
@dstenger I tried the ldproxy and deegree implementations got lots of NullPointerExceptions. It might be my TEAM Engine instance. Could you please confirm whether you have tried deploying the ETS in TEAM Engine?

Please see attached.

[s0018.zip](https://github.com/opengeospatial/ets-ogcapi-features10/files/6728783/s0018.zip)

[s0011.zip](https://github.com/opengeospatial/ets-ogcapi-features10/fil

[2021-06-29 08:52] dstenger commented on #160
Sure, I tested with TEAM Engine.
I used following command to start the test suite with Maven and Docker: `mvn clean install docker:run -Pdocker`.

Did you unzip the libraries to the lib folder of the TEAM Engine webapp?

[2021-06-29 09:38] ghobona commented on #160
@dstenger I did unzip the libraries to the lib folder but I think there might be an issue with my TEAM Engine instance.

I'll try the command in the comment above. Thanks.

[2021-06-29 16:28] ghobona commented on #118
@notthatbreezy I have just tried the test suite after launching it using the docker command in your initial post. The test suite appears to work fine. Please see attached. Could you please try again? You might need to pull a new docker image from docker hub to be certain that you have the latest image.

<img width="1422" alt="Screenshot 2021-06-29 at 17 23 22" src="https://user-images.githubuserco

[2021-06-30 05:53] lgoltz opened #165 "Fix JavaDoc"
1. The description of DiscoveryCollectionDefaultCrs.verifyCollectionCrsIdentifierOfCrsProperty() says it implements Abstract Test 1.
However, the name of the class and the comments on the Class suggest that it implements Abstract Test 2.
2. The description of DiscoveryCollectionStorageCrs.verifyCollectionCrsIdentifierOfCrsProperty() says it implements Abstract Test 2.
However, the name of the clas

[2021-06-30 06:03] lgoltz commented on #165
Fixed with https://github.com/opengeospatial/ets-ogcapi-features10/commit/eadcbc567edef3cd848d52ae0cb4c9d25c43cb96

[2021-06-30 09:37] dstenger commented on #165
JavaDoc was fixed correctly.

[2021-06-30 09:37] #165 closed

[2021-07-01 09:17] lgoltz opened #166 "Fix DiscoveryCollectionsDefaultCrs.verifyCollectionsPathCrsPropertyContainsDefaultCrs"
The tests must iterate over all collections in the /collections path.

[2021-07-01 10:26] lgoltz opened #167 "Fix Axis Order Handling"
https://github.com/opengeospatial/ets-ogcapi-features10/issues/160#issuecomment-867024137

[2021-07-01 10:34] lgoltz opened #168 "Check global CRS if storageCrs contains a reference"
Skipped tests in https://github.com/opengeospatial/ets-ogcapi-features10/issues/160#issuecomment-867024137

[2021-07-01 13:00] dstenger commented on #160
@cportele Thank you for the feedback.
We created two new issues covering your comments:
* #167
* #168

[2021-07-01 16:28] #157 closed

[2021-07-05 05:14] lgoltz commented on #166
Test test was removed as  org.opengis.cite.ogcapifeatures10.conformance.crs.discovery.collections.DiscoveryCollectionsDefaultCrs#verifyCollectionsPathCollectionCrsPropertyContainsDefaultCrs covers the ATS.
Commit: https://github.com/opengeospatial/ets-ogcapi-features10/commit/c2e5b517bebcd73c447c5ac09755bbf2c5dd3671

[2021-07-05 05:17] lgoltz commented on #168
[code]

Test was enhanced to check the global crs section: https://github.com/opengeospatial/ets-ogcapi-features10/commit/19f6cfe2b8f5f6b5525db293bdbe87841ec43a29

[2021-07-05 05:23] lgoltz commented on #168
[code]
The test was removed: https://github.com/opengeospatial/ets-ogcapi-features10/commit/aa7d16cbb006bffff028668ddfcfb0bb0a6c2660
A global storageCrs is not specified. The stoargeCrs of the collection in /collections is tested in DiscoveryCollectionsStorageCrs.verifyCollectionsPathCollectionCrsPropertyContainsDefaultCrs

[2021-07-05 08:37] ghobona commented on #118
@notthatbreezy We have tested the docker TEAM Engine image on multiple machines and it appears to be working fine.  Could you please check the network configuration of your docker container?

If we do not hear from you, we will close this issue on 2021-07-12.

[2021-07-05 12:29] lgoltz commented on #167
Proj4 does not specify the axis order, so all crs in https://github.com/locationtech/proj4j/blob/master/src/main/resources/proj4/nad/epsg are specified without explicit declaration of the axis order (except some CRSwith axis order +axis=wsu). This means "+axis=enu", lon/lat.

Axis order was corrected: https://github.com/opengeospatial/ets-ogcapi-features10/commit/07d63adc84ebe2f54d2f463028a70e1802

[2021-07-05 12:32] lgoltz commented on #167
The title of "Example 4. HTTP header declaring the CRS and axis order used in the body of the response" in https://docs.opengeospatial.org/is/18-058/18-058.html#_coordinate_reference_system_information_independent_of_the_feature_encoding is a bit confusing. As far as I see `and axis order` should be removed.

[2021-07-05 18:53] dstenger commented on #155
Enhanced documentation by limitation and hints to ATS: https://github.com/opengeospatial/ets-ogcapi-features10/commit/5ca0f4a313080e9faf8e35ce8e9f6fbaef92d1aa

[2021-07-05 18:53] #155 closed

[2021-07-05 18:57] #167 closed

[2021-07-05 18:58] #166 closed

[2021-07-05 18:59] #168 closed

[2021-07-05 19:05] dstenger commented on #160
Both previously mentioned issues were solved.

Now, https://demo.ldproxy.net/daraa is passing all tests.

@cportele Can you please check https://github.com/opengeospatial/ets-ogcapi-features10/issues/167#issuecomment-874076725? We discovered this during the implementation of the fix.

[2021-07-05 19:05] #160 closed

[2021-07-05 20:55] cportele commented on #160
Thanks @dstenger.

Regarding the comment in issue 167: Yes, the reference to "axis order" is a left over from an earlier draft status. We will fix this in Part 2.

[2021-07-06 09:18] dstenger commented on #156
Fixed unit test (https://github.com/opengeospatial/ets-ogcapi-features10/commit/d9ca82f37dff50c2f564be88cdd5f7006f4fe402) and integration tests (https://github.com/opengeospatial/ets-ogcapi-features10/commit/470231032e136885c4c54f0e06c2f150588e08d3).

[2021-07-06 09:21] dstenger commented on #156
Build with `mvn clean install site -Pintegration-tests,docker` is successful.

[2021-07-06 09:21] #156 closed

[2021-07-06 09:33] dstenger commented on #127
Pull request was created: https://github.com/opengeospatial/ets-ogcapi-features10/pull/169

Please see https://github.com/opengeospatial/ets-ogcapi-features10/issues?q=label%3A%22Part+2%22+is%3Aclosed for all issues which were solved.

[2021-07-22 10:23] #127 closed

[2021-07-22 10:24] #164 closed

[2021-07-23 10:38] dstenger commented on #162
We propose to improve error message to `java.lang.AssertionError: features property is missing: expected object to not be null`.

[2021-07-23 11:44] tfr42 commented on #162
For the given bboxes the service kitaeinrichtung does not return data (numberMatched and numberReturned = 0). The test https://github.com/opengeospatial/ets-ogcapi-features10/blob/4daa6b229189794486326a3cc87934e4812ebc67/src/main/java/org/opengis/cite/ogcapifeatures10/conformance/core/collections/AbstractFeatures.java#L104 checks for the existence of a features property which does not exist.
The d

[2021-07-26 08:58] #118 closed

[2021-07-26 12:40] dstenger commented on #142
Method 8 will not be implemented as GeoJSON is a precondition for this test suite and thus already covered by that.

Method 3 can be implemented.

[2021-07-26 12:49] lgoltz opened #171 "Compare and update ETS with latest ATS"
ATS: http://docs.opengeospatial.org/is/17-069r3/17-069r3.html#_abstract_test_suite_normative

[2021-07-27 07:05] lgoltz commented on #171
Compared the ATS with the JavaDoc of the ETS. All tests, except Abstract Test 2 are implemented or at least started.

Minor improvements of the Javadoc: https://github.com/opengeospatial/ets-ogcapi-features10/pull/172/files

[2021-07-27 09:28] dstenger commented on #162
Issue was resolved in deegree implementation.

[2021-07-27 09:31] lgoltz commented on #125
I've added a test, but cannot reproduced the problem.
@b4l Can you provide the OpenAPI document of the server?

[2021-07-27 10:18] dstenger commented on #142
Duplicate of #18 and #19.

[2021-07-27 10:18] #142 closed

[2021-07-27 10:22] dstenger commented on #162
Error message was improved: https://github.com/opengeospatial/ets-ogcapi-features10/commit/2e31ba115dcc65b453bcebab402f9c2f46438b04

[2021-07-27 10:22] #162 closed

[2021-07-27 11:19] dstenger commented on #143
We discussed this issue in the team and came to the conclusion that it is easier to understand the test results when the skipped tests are present.
Reporting the skipped tests only once will not work because each collection is handled individually. Also, details might get lost if reporting just occurs once.
The only improvement might be to skip the execution of the tests if no timestamp is availab

[2021-07-27 14:08] lgoltz opened #173 "Implement test for Abstract Test 10, Test Method 3"
s. https://github.com/opengeospatial/ets-ogcapi-features10/issues/140#issuecomment-787897034

[2021-07-27 14:10] lgoltz commented on #140
PR: #174

New issue created: #173

[2021-07-27 14:20] lgoltz commented on #141
Abstract Test 23 is implemented for each features resource ({root}/collections/{collectionId}/items) listed in Abstract Test 14 (without parameter, with parameters limit, boundingbox and datetime) as part of Abstract Test 22.

The test purpose of Abstract Test 23 is  "Validate that the required links are included in the Collections document." but the test is part of A.2.7. Features {root}/collecti

[2021-07-27 14:47] lgoltz commented on #173
PR: #175

[2021-07-27 20:18] b4l commented on #125
@lgoltz please find it here: https://github.com/opengeospatial/ets-ogcapi-features10/issues/125#issuecomment-763522417

[2021-07-28 04:52] lgoltz commented on #125
Sorry, I've overlooked this comment.
But I'm still not able to reproduce the problem. I've setup a mock service with SoapUI  and three resources:
 * / '(LandingPage)
 * /api (Returning the provided OpenAPI document)
 * /conformance (Conformance classes)
The OpenAPI document was converted to json and the server url set to http://localhost:8080.

The test validateConformanceOperationAndResponse (in

[2021-07-28 20:21] #171 closed

[2021-07-28 20:30] #140 closed

[2021-07-28 20:47] #173 closed

[2021-08-02 22:38] b4l commented on #125
Somehow used `service-doc` instead of `service-desc` link relation for the api document on the landing page. Fixing this resolves the issue.
Sorry for this and thanks a lot for your effort!

[2021-09-09 19:18] dstenger opened #176 "White space shall be allowed between tokens in a MIME-type string"
This applies to the OpenAPI MIME-type which is used in the test suite.
Currently, just `application/vnd.oai.openapi+json;version=3.0` is allowed.
However, `application/vnd.oai.openapi+json; version=3.0` is valid as well.

Please also see: https://datatracker.ietf.org/doc/html/rfc2045#section-5.1

[2021-09-13 09:31] alainbodiguel opened #177 "UriBuilder.retrieveCollectionNameTemplateName does not support prefix in testPoint path"
**Describe the bug**
Use of paths with a prefix makes the test "Implements A.2.6. Feature Collection {root}/collections/{collectionId}, Abstract Test 12 (Requirement /req/core/sfc-md-success)"  failed

**To Reproduce**
Steps to reproduce the behavior:
1. Example TestPoint: `testPoint=Server URL: http://localhost:9999/myservice, Path: /stac/collections/{collectionId}, Replacements: {}`
2. Run the t

[2021-09-14 15:51] dstenger opened #178 "Prevent NPE in FeaturesAssertions"
In `org/opengis/cite/ogcapifeatures10/conformance/core/collections/FeaturesAssertions.java:96`
[code]

there occurs a NullPointerException if the schema does not define maximum.

The error message shall be improved.

Also, it should be checked if a similar NPE can occur in other methods as well.

[2021-09-14 15:58] alainbodiguel commented on #177
Not yet. Might be in a near future, we'll let you know if/when it is the case.
Thank you!

[2021-10-25 13:48] trucheromayor opened #180 "Api links with relative paths not supported"
**Describe the bug**
Test for validating Confermance Operation and Response failed. This issue seems to appear when having paths with a relative base path.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cite.opengeospatial.org/teamengine/ register a create an account
2. Perform OGC Features API test with the following url: "https://gisco-development.northeurope.cloudapp.azure.

[2021-10-31 19:01] jerstlouis opened #181 "Out of memory testing our implementation"
**Describe the bug**
[code]
This hapens with both https://cite.opengeospatial.org/teamengine/ and https://cite.opengeospatial.org/te2/

**To Reproduce**
Steps to reproduce the behavior:

Test https://maps.ecere.com/ogcapi (3 max collections)

**Expected behavior**
Not running out of memory.

**Additional context**
This also leads to many other "Skipped" tests, e.g. in Core:

[code]

And in CRS:

[

[2021-11-05 18:43] dstenger commented on #181
Thank you for reporting.
We are already working on a solution for this problem. It seems to be environment specific.

[2021-11-08 16:47] dstenger commented on #181
@jerstlouis We did some updates on the two mentioned environments (https://cite.opengeospatial.org/teamengine/ and https://cite.opengeospatial.org/te2/) today.
Now, the test suite should run without encountering OutOfMemoryErrors.
Can you please check if your problems are solved?

[2021-11-09 05:56] jerstlouis commented on #181
@dstenger Thank you for the update.
We ran the same test on both the production and beta CITE environments successfully without encountering Out of Memory issues this time around.

Testing time is extremely long though, even testing with only 3 collections, and I don't think it is because of processing or data transfer time on our end. There is also no progress bar of any kind to tell us how far a

[2021-11-09 17:03] dstenger commented on #181
Very good, thank you for the feedback.

The Console opening in a separate window after starting the tests should display the progress of the test suite. However, I realize that the output is limited there. If this is important for you, can you please open a new issue for that?

The behavior of the test suites before and after the OoM issue should be identical. The latest update of this test suite

[2021-11-09 17:11] jerstlouis opened #182 "Improved feedback on progress of tests"
**Is your feature request related to a problem? Please describe.**
Since executing the tests take a very long time (about 30 minutes), it would be good to have more feedback on the progress of the tests. Currently, the console opening in a separate window displays nothing as the test progresses, only at the beginning and at the very end.

**Describe the solution you'd like**
It would be good to se

[2021-11-09 17:14] jerstlouis opened #183 "Improve tests performance"
**Is your feature request related to a problem? Please describe.**
Executing the tests on our [implementation](https://maps.ecere.com/ogcapi) takes a good 30 minutes even when testing only 3 collections.
 I don't think it is because of processing or data transfer time on our end. It is also a lot more time than the sum of the duration of the tests, most of which are under 1s except for 4 that take

[2021-11-09 17:23] jerstlouis opened #184 "Part 2: CRS should fail if it key tests were skipped"
**Describe the bug**
Prior to the OoM issue (#181) being resolved, the tests reported our _Part 2: CRS_ implementation as successful, even though it had skipped most tests because of _Out of Memory_ failure, such as `bbox-crs` (which was not yet implemented).

**To Reproduce**
Difficult now that the OoM issue has been resolved, but see https://cite.opengeospatial.org/teamengine/reports/jerstlouis4

[2021-11-09 17:25] jerstlouis commented on #181
@dstenger Thank you, I have opened the following issues:

- #182 on the lack of progress feedback
- #183 on the extremely long delays
- #184 on CRS passing when it should not

Closing this issue which has been resolved. Thank you!

[2021-11-09 17:25] #181 closed

[2021-11-09 17:50] dstenger commented on #182
Thank you for reporting.

I have to clarify that the tests do not take that long in general. This is related to your implementation as it most likely contains many collections and/or features.

We will discuss your issue in the CITE team.

[2021-11-09 17:59] dstenger commented on #183
Thank you for reporting.

This problem is most likely related to the number of features provided by the collections.

[2021-11-09 18:01] dstenger commented on #184
Thank you for reporting.

We will discuss in the CITE team how the mechanism can be improved here.

[2021-11-09 18:09] jerstlouis commented on #182
Thank you. It does offer many collections, and some collection may contain large number of items or heavy geometries, but that long time does not appear to be reflected in the time reported per the test report. So I would be interested to know exactly what takes so long, as like I mentioned I don't think it is purely processing or uploading time from our server.

[2021-11-09 18:17] jerstlouis commented on #183
Thank you @dstenger .
I believe the test uses the first 3 listed vector collections on our server which are:

[NaturalEarth:cultural:ne_10m_admin_0_boundary_lines_maritime_indicator](https://maps.ecere.com/ogcapi/collections/NaturalEarth:cultural:ne_10m_admin_0_boundary_lines_maritime_indicator) (_220 features_)
[NaturalEarth:cultural:ne_10m_admin_0_antarctic_claims](https://maps.ecere.com/ogcapi/

[2021-11-09 18:51] jerstlouis commented on #143
@dstenger at the moment, testing 3 collections produces 27 skipped tests about missing time stamp, 9 for each collections with identical messages _(org.testng.SkipException: Property timeStamp is not set in collection items `{collectionId}`)_.

Out of these 9:
- 2 for validate Features With Limit Response_ Time Stamp
- 6 for validate Features With Bounding Box Response_ Time Stamp
- 1 for validate

[2021-11-10 14:26] afasseco opened #185 "Running tests against a non CRS service results in test failure."
**Describe the bug**
We are using these excellent tests to test our OGC API Features service and use this as part of our build pipeline to ensure that our API conforms to the OGC API Features standard. Since the CRS tests have been added to this suite this is failing since we are not conforming to the CRS requirements class (https://docs.ogc.org/is/18-058/18-058.html). We have no plans to ever sup

[2021-11-10 14:33] afasseco commented on #185
I tried just now to add the if(!requirementClassIsImplemented) statement part and this causes expected behaviour for me:

    public void verifyRequirementClass() {
        boolean requirementClassIsImplemented = this.requirementClasses != null
                                                && this.requirementClasses.contains( CRS );

        if (!requirementClassIsImplemented) {
            thro

[2021-11-10 15:28] dstenger commented on #185
Thank you for reporting.

May I ask what interface you are using to execute the tests (REST, Web Browser, CLI)?

There are several solutions solving your problem. You could also edit the testng.xml and remove the CRS tests there.
We will discuss in the CITE team which solution we prefer.

[2021-11-10 15:36] afasseco commented on #185
CLI.

Its part of our build pipeline and using the docker image we execute:

java -cp '/usr/local/tomcat/webapps/teamengine/WEB-INF/lib/*:/usr/local/tomcat/lib/*' -DTE_BASE=config/ org.opengis.cite.ogcapifeatures10.TestNGController config/test-run-props.xml --generateHtmlReport

where config/test-run-props.xml has been generated to have the builds endpoint.

We then check the testng-results.xml fi

[2021-11-16 17:24] jerstlouis opened #186 "Creating a 7th session says "Executing Test" spinning forever"
(NOTE: Unsure whether this is specific to the OGC API - Features ETS or if it should be moved to the [Team Engine repository](https://github.com/opengeospatial/teamengine))
**Describe the bug**
Trying to create a new session to test our implementation, creating a new session was spinning forever saying "Executing Tests" before having selected a server on which to execute the test and never ends. C

[2021-11-16 19:01] dstenger commented on #186
Thank you for reporting.
So, you are creating the sessions one after another and not simultaneously? If that is the case, there should be no restrictions.
We will do further investigation.

[2021-11-16 19:05] jerstlouis commented on #186
@dstenger That was just creating a single session, but I already had 6 sessions in my account. Is there some storage limitations associated with a single account, or with the overall capacity of the TeamEngine deployments?

Deleting previous sessions got past this error somehow.

To clarify, this was before even selecting our server to test. The Console window had not popped up.

I was just able t

[2021-11-16 19:07] jerstlouis commented on #186
@dstenger Now I get a 500 right after logging in to te2 with my account:

https://cite.opengeospatial.org/te2/viewSessions.jsp

HTTP Status 500 - javax.servlet.ServletException: org.xml.sax.SAXParseException; Premature end of file.
type Exception report

message javax.servlet.ServletException: org.xml.sax.SAXParseException; Premature end of file.

description The server encountered an internal err

[2021-11-16 19:32] dstenger commented on #186
Thanks for reporting.
The errors were related to the environment and should be fixed by now.
Can you please check if your reported problems are solved?

[2021-11-16 19:34] jerstlouis commented on #186
@dstenger No, I still get a 500 error right after signing in.

Also in my product certification I do not see any session listed.
Earlier I was only seeing sessoin from /te2, not those from /teamengine.

[2021-11-22 13:04] NicolaiMogensen commented on #125
Sorry, but i think this still might be an issue.

Running my test-suite i get this:
[code]
Here you can clearly see the call to `///conformance` which is not right. I have no idea where the extra forward slashes comes from

[2021-11-23 20:04] dstenger commented on #125
Thank you for reporting. We will do further investigation.

Can you please provide the OpenAPI document of your service and the complete response of the landing page?
Both is important for the test.

[2021-11-29 08:19] NicolaiMogensen commented on #125
Sorry for the delay,

I have a test service running here: https://skraafotodistribution-stac-api-sandbox.k8s-test-121.septima.dk/

And for duplication:
Landing page:
[code]

And openAPI document:

[code]

[2021-12-27 01:59] tomkralidis opened #187 "Abstract Test 13 clarification"
**Describe the bug**
Abstract Test 13 is possibly sending an items query with an erroneous `bbox` parameter,

**To Reproduce**
Steps to reproduce the behavior:
1. Run a CITE session against https://demo.pygeoapi.io/cite
2. Click on error at line `java.lang.AssertionError: 1 expectation failed. Expected status code <200> but was <400>`

**Expected behavior**

The ETS should send a valid bbox to the

[2021-12-27 13:10] tomkralidis opened #188 "clarification of Abstract Test 22, Test Method 6"
**Describe the bug**

Not sure if this is a bug, but it would be valuable to have an explanation of how to pass the below.

Running the pygeoapi reference demo yields two errors of type:

`Value of numberReturned (50) does not match the number of features in all responses (51)`

**To Reproduce**
Steps to reproduce the behavior:
1. Test against https://demo.pygeoapi.io/cite

**Expected behavior**
N

[2022-01-03 08:59] dstenger commented on #187
Thank you for reporting.

The code leading to this bounding box is found here:

https://github.com/opengeospatial/ets-ogcapi-features10/blob/cf0ebe3debbf55183a68f1a09f9edaaad1063712/src/main/java/org/opengis/cite/ogcapifeatures10/conformance/core/collections/FeaturesBBox.java#L40-L60

The pre-defined bounding boxes are not required by the standard anymore but were part of an earlier version of the

[2022-01-03 09:15] cportele commented on #187
A bounding box `177.0, 65.0, -177.0, 70.0` is a valid bounding box that crosses the antimeridian and the result must be a 200 not a 400. The spec says:

[2022-01-03 09:19] dstenger commented on #187
@cportele Thank you for clarification.

Thus, there is no actual need to remove the pre-defined bounding boxes.

[2022-01-03 09:58] dstenger commented on #188
Thank you for reporting.

Currently, I cannot reproduce the behavior with the provided API URL.

This is the relevant code:

https://github.com/opengeospatial/ets-ogcapi-features10/blob/a22e77001419ae11e215a7fdf3c8dbe580f49063/src/main/java/org/opengis/cite/ogcapifeatures10/conformance/core/collections/FeaturesAssertions.java#L79-L104

The value of property "numberMatched" is compared with the act

[2022-01-03 13:00] tomkralidis commented on #188
Hi @dstenger you can try with https://demo.pygeoapi.io/cite.  I have just tested and reproduced on CITE just now (username=tomkralidis, session=s0079).

[2022-01-03 13:26] tomkralidis commented on #187
Thanks for the clarification, makes sense.  pygeoapi [has been updated](https://github.com/geopython/pygeoapi/pull/837) as a result and now passes this test.  Thank you CITE!

[2022-01-03 13:26] #187 closed

[2022-01-03 13:53] tomkralidis commented on #185
I'm having the same issue testing pygeoapi.  The ETS should skip CRS testing if it is not specified as a conformance class by the server.

[2022-01-03 14:57] tomkralidis commented on #188
Turns out this was an off by one error in pygeoapi ([now fixed](https://github.com/geopython/pygeoapi/pull/839)).  Thanks again for the clarification.

[2022-01-03 14:57] #188 closed

[2022-01-03 15:00] dstenger commented on #188
Good to know, was just starting to debug your problem.

[2022-01-06 10:54] afasseco commented on #185
We are currently pinning the docker image to ogccite/ets-ogcapi-features10:1.1-teamengine-5.4, while we wait for what the preferred solution is. For us the proposed SkipException solution would work fine - programatically editing the testng.xml file to exclude CRS tests seems like hard to get right assuming that there could be other changes to this file.

[2022-01-26 09:07] NicolaiMogensen commented on #125
Any update on this? @bpross-52n @dstenger

[2022-01-26 09:14] NicolaiMogensen commented on #125
Further testing shows that if you proxy the port to 80, such that you dont need to apply a port number, it works. It's definitely a bug then.

http://172.28.128.1/ works, http://172.28.128.1:8081/ does not

[2022-01-26 14:27] dstenger commented on #125
Thank you for providing further details.

Currently, we are working on a new release of TEAM Engine. We will work on the issues of this test suite in the second half of March (and then probably create a new release in April).
Is that fine for you?

[2022-06-22 09:43] dstenger commented on #185
Please also see https://github.com/opengeospatial/ets-ogcapi-features10/pull/190#issuecomment-1162879993.

[2022-07-04 07:12] ghobona opened #191 "OpenAPIUtils.identifyTestPoints misses some paths"
**Describe the bug**

The `OpenAPIUtils.identifyTestPoints` method  is unable to detect matches between paths that extend from the path being detected. For example, in the following case it was comparing API paths that started with `/api/abc/v1` and it could not match `/api/abc/v1/conformance` to `/conformance`.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Test the following endpo

[2022-07-11 08:58] dstenger commented on #191
Might be related to https://github.com/opengeospatial/ets-ogcapi-features10/issues/117.

[2022-09-01 08:08] jnystad opened #195 "Abstract Test 16 - limit parameter tests fail if minimum is 0"
**Describe the bug**

With minimum set to 0:
[code]

Limit minimum/maximum can be decided by the server, and minimum 0 is not disallowed

**Expected behavior**
Test should allow minimum limit value to be 0.

**Additional context**
Abstract Test 16 wording:
Verify that the limit query parameter complies with the following definition (using an OpenAPI Specification 3.0 fragment):

[code]

**Note tha

[2022-09-01 08:10] jnystad opened #196 "Abstract Test 22 - maximum behaviour check if maximum is not specified crashes"
**Describe the bug**
A maximum limit value is not required. This test should be skipped if limit has no specified maximum.

Crash:
[code]

**Expected behavior**
Skip test if no maximum is set.

[2022-09-01 08:17] jnystad opened #197 "Docker image for running tests via CLI"
**Is your feature request related to a problem? Please describe.**
The docker image provided is built to run the full TEAM Engine server, but this is not necessarily the easiest way for non-java developers to get access to this test suite.

**Describe the solution you'd like**
It would be great if you provided a docker image that was rigged for the CLI invocation only.

**Additional context**

A D

[2022-09-01 08:22] jnystad opened #198 "Abstract Test 6 - Misleading error message and missing positional info"
**Describe the bug**
If the OAS endpoint is not valid, the following failure message is produced:
[code]

"Landing Page" is not the right place here, and the `ValidationItem`s returned do contain positional info that is useful to track down issues.

Suggested fix:
[code]

**Expected behavior**
A correct and more helpful error message.

[2022-09-01 08:23] jnystad commented on #198
Output after fix:
[code]

[2022-09-01 11:48] dstenger commented on #197
Thank you for providing this feature request.

A similar idea was already documented here: https://github.com/opengeospatial/teamengine-docker/issues/39

We will discuss this in the CITE team.

[2022-09-01 11:50] dstenger commented on #195
Thank you for reporting. We will do further investigation.

[2022-09-01 11:50] dstenger commented on #196
Thank you for reporting. We will do further investigation.

[2022-09-01 11:53] dstenger commented on #198
Thank you for reporting. We will consider your suggested fix when creating the next release.

[2022-09-02 12:55] jnystad opened #199 "Part 2/bbox-crs validation: Using transformed extent as bbox fails in many cases"
**Describe the bug**

Not entirely sure this is a bug or intended behaviour.

Transforming the extent given in WGS84 to any other projection will in many cases produce invalid or wrong bboxes.

For global datasets that a service wants to provide (a subset of) in various projections, this test suite will fail unless said projections are split into separate collection endpoints.

I don't see any men

[2022-09-15 05:07] apjanke commented on #106
FWIW, I'm [having the same problem with my "SLF4M-Jankalog" project](https://github.com/janklab/slf4m-jankalog/issues/22), and am curious if there's a better resolution here. (Sorry to bug you here, but this bug report is one of the few decent things on the web that I was able to google up for this specific problem.)

I found some reference doco for the maven-site-assembly plugin:

* [assembly 2.6

[2022-09-27 15:58] dstenger commented on #199
Thank you for reporting.
We will do further investigation.